@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@model ContractAddDto

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Add" class="main-signin-form" enctype="multipart/form-data">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Şirkət: </label>
                        <select name="select" id="CompanyId" class="form-control">
                            <option value="" disabled selected hidden>Seçim edin</option>
                            @foreach (var item in ViewBag.companies)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        </select>

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Əməkdaşlar: </label>
                        <select name="select" disabled asp-for="UserId" name="UserId" class="form-control">
                            <option value="" disabled selected hidden>Seçim edin</option>
                        </select>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                </div>


            </div>

            <div class="row">

                <div class="col-sm-6">
                    <label class="floatLabel">  Sənəd Tarixi: </label>
                    <div class="form-group">
                        <input asp-for="CommandDate" type="text" class="form-control custom-date" id="inputDate">
                        <span asp-validation-for="CommandDate" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Əmr nömrəsi: </label>
                        <input type="text" class="form-control" asp-for="CommandNumber" autocomplete="off">
                        <span asp-validation-for="CommandNumber" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group main-custom-border">
                        <label class="floatLabel">  Fayl növü: </label>
                        <div class="form-radio">

                            <div class="radio radio-inline" style="margin-left: 0.5rem; margin-top: 2px;">
                                <label for="TEMPLATE">
                                    <input type="radio" id="TEMPLATE" value="TEMPLATE" asp-for="ContractFileType"
                                           checked="checked">
                                    <i class="helper"></i>Şablon
                                </label>
                            </div>

                            <div class="radio radio-inline" style="margin-left: 0.5rem;">
                                <label for="UPLOAD_FILE">
                                    <input type="radio" id="UPLOAD_FILE" value="UPLOAD_FILE" asp-for="ContractFileType">
                                    <i class="helper"></i>Hazır
                                </label>
                            </div>
                        </div>


                    </div>
                </div>

                <div id="clause_new" class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Şablon: </label>
                        <select name="select" disabled asp-for="ClauseId" name="ClauseId" class="form-control">
                            <option value="" disabled selected hidden>Seçim edin</option>
                        </select>
                        <span asp-validation-for="ClauseId" class="text-danger"></span>
                    </div>
                </div>
                <div id="clause_old" class="col-sm-6" style="display: none;">
                    <div class="form-group">
                        <label class="floatLabel">  Hazır fayl: </label>
                        <div class="file upload form-control mb-3" style="position: relative;overflow: hidden;">
                            <i class="fas fa-cloud-upload-alt" style="color: #01a9ac"></i>
                            <span id="pdfTxt"> Müqavilə Yüklə</span>
                            <input id="ReadyDoc" type="file" name="readyDoc" accept=".docx, .pdf" style="cursor: pointer;position: absolute; font-size: 50px; opacity: 0; right: 0; top: 0;" />
                        </div>
                    </div>

                </div>



            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group main-custom-border">
                        <label class="floatLabel">  Müddət növü: </label>
                        <div class="form-radio">

                            <div class="radio radio-inline" style="margin-left: 0.5rem; margin-top: 2px;">
                                <label for="true">
                                    <input type="radio" id="true" value="true" asp-for="HasTerm"
                                           checked="checked">
                                    <i class="helper"></i>Müddətli
                                </label>
                            </div>
                            <div class="radio radio-inline" style="margin-left: 0.5rem;">
                                <label for="false">
                                    <input type="radio" id="false" value="false" asp-for="HasTerm">
                                    <i class="helper"></i>Müddətsiz
                                </label>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group main-custom-border">
                        <label class="floatLabel">  İş Yerinin Növü: </label>
                        <div class="form-radio">

                            <div class="radio radio-inline" style="margin-left: 0.5rem; margin-top: 2px;">
                                <label for="IsMainPlaceTrue">
                                    <input type="radio" id="IsMainPlaceTrue" value="True" asp-for="IsMainPlace"
                                           checked="checked">
                                    <i class="helper"></i>Əsas
                                </label>
                            </div>
                            <div class="radio radio-inline" style="margin-left: 0.5rem;">
                                <label for="IsMainPlaceFalse">
                                    <input type="radio" id="IsMainPlaceFalse" value="False" asp-for="IsMainPlace">
                                    <i class="helper"></i>Əlavə
                                </label>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Müqavilə tarixi: </label>
                        @*<input type="text" class="form-control" asp-for="Year" autocomplete="off" id="inputDate">*@
                        <div class="input-group input-daterange mb-0">
                            <input type="text" asp-for="ContractStart" class="form-control" autocomplete="off">
                            <div class="input-group-addon">to</div>
                            <input type="text" asp-for="ContractEnd" class="form-control" autocomplete="off">
                        </div>
                        <span asp-validation-for="ContractStart" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Müqavilə nömrəsi: </label>
                        <input type="text" class="form-control" asp-for="ContractNumber" autocomplete="off">
                        <span asp-validation-for="ContractNumber" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>

                </div>



            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group  main-custom-border">
                        <label class="floatLabel">  Növbə növü: </label>
                        <div class="form-radio">


                            <div class="radio radio-inline" style="margin-left: 0.5rem; margin-top: 2px;">
                                <label for="IsAlternateTrue">
                                    <input type="radio" id="IsAlternateTrue" value="true" asp-for="IsAlternate"
                                           checked="checked">
                                    <i class="helper"></i>Növbəli
                                </label>
                            </div>
                            <div class="radio radio-inline" style="margin-left: 0.5rem;">
                                <label for="IsAlternateFalse">
                                    <input type="radio" id="IsAlternateFalse" checked value="false" asp-for="IsAlternate">
                                    <i class="helper"></i>Növbəsiz
                                </label>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group  main-custom-border">
                        <label class="floatLabel">  Nəqliyyatla: </label>
                        <div class="form-radio">

                            <div class="radio radio-inline" style="margin-left: 0.5rem; margin-top: 2px;">
                                <label for="ByTransportTrue">
                                    <input type="radio" id="ByTransportTrue" value="True" asp-for="ByTransport"
                                           checked="checked">
                                    <i class="helper"></i>Bəli
                                </label>
                            </div>
                            <div class="radio radio-inline" style="margin-left: 0.5rem;">
                                <label for="ByTransportFalse">
                                    <input type="radio" id="ByTransportFalse" checked value="False" asp-for="ByTransport">
                                    <i class="helper"></i>Xeyr
                                </label>
                            </div>

                        </div>
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="col-sm-6">
                    <label class="floatLabel">  İstehsalat Təqvimi: </label>
                    <select name="select" asp-for="WorkGraphicId" name="WorkGraphicId" class="form-control">
                        <option value="" disabled selected hidden>Seçim edin</option>
                        @foreach (var item in ViewBag.workGraphics)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }

                    </select>
                    <span asp-validation-for="WorkGraphicId" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row has-success">
                        <div class="col-sm-12 mt-2">
                            <div class="checkbox-fade fade-in-primary">
                                <label>
                                    <input type="checkbox" asp-for="SendMail" class="input-danger">
                                    <span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                    </span>
                                    <span>Mail göndər</span>
                                </label>
                            </div>
                            <div class="checkbox-fade fade-in-primary">
                                <label>
                                    <input type="checkbox" asp-for="SendNews">
                                    <span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                    </span>
                                    <span>Xəbər əlavə et</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="form-group row mt-3">
                <div class="col-sm-12 d-flex justify-content-between">
                    <button type="submit" id="sub-btn" class="btn btn-dark-blue m-b-0  btn-block">
                        Təsdiqlə
                    </button>

                </div>
            </div>


        </form>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")


<script>

    $(document).ready(function() {

        $('.custom-date').each(function() {
            $(this).datepicker({
                format: "dd.mm.yyyy"
            })
        })

        $('.input-daterange input').each(function() {
            $(this).datepicker({
                format: "dd.mm.yyyy"
            });
        });

        $("form").submit(function(e) {
            let fileType = $("#UPLOAD_FILE").is(':checked');
            let readyDoc = $("#ReadyDoc").val();
            let clauseId = $("#ClauseId").val();
            if (fileType && !readyDoc) {
                toastr.error(" Hazır fayl boş ola bilməz !", "Xəta!");
                e.preventDefault();
            }
            else if (!fileType && !clauseId) {
                toastr.error(" Şablon boş ola bilməz !", "Xəta!");
                e.preventDefault();
            }

            let term = $("#true").is(':checked');
            let contractEnd = $("#ContractEnd").val();
            if (term && !contractEnd) {
                toastr.error(" Son müqavilə tarixi boş ola bilməz !", "Xəta!");
                e.preventDefault();
            }
        });
    });

    $('#ReadyDoc').change(function() {

        var file = $('#ReadyDoc')[0].files[0].name;

        $('#pdfTxt').text(file);

    });

    $(document).ready(function() {
        $(document).on('change', '#UPLOAD_FILE', function() {
            var _id = $(this).val();

            $("#ClauseId").prop('disabled', true);
            $("#ClauseId").prop('value', null);
            $("#clause_new").css('display', "none");
            $("#clause_old").css('display', "block");
            $('#ReadyDoc').prop('required', true);

        });
    });

    $(document).ready(function() {
        $(document).on('change', '#TEMPLATE', function() {
            var _id = $(this).val();
            $("#clause_new").css('display', "block");
            $("#clause_old").css('display', "none");
            $('#ReadyDoc').prop('required', false);
            $.ajax({
                type: 'Get',
                url: '@Url.ActionLink("List", "Clause")',
                data: {

                },
                success: function(response) {
                    if (response.error == true) {
                        toastr.error(response.message, "Xəta baş verdi!");
                        return;
                    }
                    $("#ClauseId").prop('disabled', false);
                },
                error: function(response) {
                    $("#overlay").fadeOut(300);
                    toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                }
            });


        });

        $(document).on('change', '#CompanyId', function() {
            var _id = $(this).val();
            getUsersByCompany(_id);
            getClausesByCompany(_id);
        });

        function getUsersByCompany(_id)
        {
             $.ajax({
                type: 'Get',
                url: '@Url.ActionLink("GetCompanyUsers", "Account")',
                data: {
                    companyId: _id,
                },
                success: function(response) {
                    if (response.error == true) {
                        toastr.error(response.message, "Xəta baş verdi!");
                        return;
                    }
                    $("#UserId").empty();
                    var html = "";

                    for (var i in response) {
                        html += `<option value="${[response[i].id]}">
                            ${[response[i].name]}</option>`
                    }

                    if (response.length > 0) {
                        $("#UserId").prop('disabled', false);
                        $("#UserId").html(`<option value="" disabled selected hidden>Seçim edin</option>` + html);
                    }
                    else {
                        $("#UserId").prop('disabled', false);
                        $("#UserId").html(`<option value="" disabled selected hidden>Yoxdur!</option>`);
                    }

                },
                error: function(response) {
                    $("#overlay").fadeOut(300);
                    toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                }
            });
        };

         function getClausesByCompany(_id)
        {
             $.ajax({
                type: 'Get',
                url: '@Url.ActionLink("GetCompanyClauses", "Clause")',
                data: {
                    companyId: _id,
                },
                success: function(response) {
                    if (response.error == true) {
                        toastr.error(response.message, "Xəta baş verdi!");
                        return;
                    }
                    $("#ClauseId").empty();
                    var html = "";

                    for (var i in response) {
                        html += `<option value="${[response[i].id]}">
                            ${[response[i].name]}</option>`
                    }

                    if (response.length > 0) {
                        $("#ClauseId").prop('disabled', false);
                        $("#ClauseId").html(`<option value="" disabled selected hidden>Seçim edin</option>` + html);
                    }
                    else {
                        $("#ClauseId").prop('disabled', false);
                        $("#ClauseId").html(`<option value="" disabled selected hidden>Yoxdur!</option>`);
                    }
                },
                error: function(response) {
                    $("#overlay").fadeOut(300);
                    toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                }
            });
        }
    });
</script>