@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@model PersonalContractAddDto

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Add" class="main-signin-form" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Şirkət: </label>
                        <select id="CompanyId" class="form-control">
                            <option value="" disabled selected hidden>Seçim edin</option>
                            @foreach (var item in ViewBag.companies)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Əməkdaşlar: </label>
                        <select disabled asp-for="UserId" class="form-control">
                            <option value="" disabled selected hidden>Seçim edin</option>
                        </select>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                </div>
                <div>
                </div>
                <div class="col-sm-6">
                    <label class="floatLabel">  Növ: </label>
                    <select name="select" asp-for="Type" name="Type" class="form-control">
                        <option value="null" disabled selected hidden>Seçim edin</option>
                        <option value="SALARY">Maaş dəyişikliyi</option>
                        <option value="POSITION">Vəzifə dəyişikliyi</option>
                        <option value="SALARY_POSITION">Maaş/Vəzifə dəyişikliyi</option>
                        <option value="WORK_PLACE">İş yeri dəyişikliyi</option>
                        <option value="WORK_GRAPHIC">İş qrafiki dəyişikliyi</option>
                        <option value="VACATION">Məzuniyyət dəyişikliyi</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Sənəd nömrəsi: </label>
                        <input type="text" class="form-control" asp-for="CommandNumber" autocomplete="off">
                        <span asp-validation-for="CommandNumber" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="floatLabel"> Sənəd tarixi: </label>
                    <div class="form-group">
                        <input asp-for="CommandDate" type="date" class="form-control" id="inputDate">
                        <span asp-validation-for="CommandDate" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>
                </div>
                <div id="pos_div" class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Vəzifə: </label>
                        <select disabled name="select" asp-for="PositionId" name="PositionId" class="form-control">
                            <option value="" disabled selected hidden>Seçim edin</option>
                        </select>
                    </div>
                </div>
                <div id="salary_div" class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Maaş: </label>
                        <input class="form-control" asp-for="Salary" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-6" id="place_div">
                    <div class="form-group">
                        <label>  İş yerinin növü: </label>
                        <div class="form-radio">
                            <div class="radio radio-inline">
                                <label for="IsMainPlaceTrue">
                                    <input type="radio" id="IsMainPlaceTrue" value="True" asp-for="IsMainPlace"
                                           checked="checked">
                                    <i class="helper"></i>Əsas
                                </label>
                            </div>
                            <div class="radio radio-inline">
                                <label for="IsMainPlaceFalse">
                                    <input type="radio" id="IsMainPlaceFalse" value="False" asp-for="IsMainPlace">
                                    <i class="helper"></i>Əlavə
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" id="graphic_div">
                    <label class="floatLabel">  İstehsalat təqvimi: </label>
                    <select asp-for="WorkGraphicId" class="form-control">
                        <option value="" disabled selected hidden>Seçim edin</option>
                        @foreach (var item in ViewBag.workGraphics)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="WorkGraphicId" class="text-danger"></span>
                </div>
                <div id="clause_div" class="col-sm-6">
                    <label class="floatLabel">  Şablon: </label>
                    <select asp-for="ClauseId" class="form-control">
                        <option value="null" disabled selected hidden>Seçim edin</option>
                        @foreach (var item in ViewBag.clauses)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="ClauseId" class="text-danger"></span>
                </div>
                <div class="col-sm-6" id="vacation_type_div">
                    <div class="form-group">
                        <label>  Məzuniyyət növü: </label>
                        <div class="form-radio">
                            <div class="radio radio-inline">
                                <label for="IsMainVacationTrue">
                                    <input type="radio" id="IsMainVacationTrue" value="True" asp-for="IsMainVacation"
                                           checked="checked">
                                    <i class="helper"></i>Əsas
                                </label>
                            </div>
                            <div class="radio radio-inline">
                                <label for="IsMainVacationFalse">
                                    <input type="radio" id="IsMainVacationFalse" value="False" asp-for="IsMainVacation">
                                    <i class="helper"></i>Əlavə
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                     <div class="col-sm-6" id="vacation_div">
                    <div class="form-group">
                        <label class="floatLabel"> Məzuniyyət gün sayı: </label>
                        <input type="number" class="form-control" asp-for="VacationDay" autocomplete="off">
                        <span asp-validation-for="VacationDay" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>
                </div>
                <input type="hidden" id="UserVacationDay" />

                   <div class="col-sm-6" id="vacation_extra_div">
                    <label class="floatLabel">  Əlavə Məzuniyyət Növü: </label>
                    <select name="select" asp-for="VacationExtraType" name="VacationExtraType" class="form-control">
                        <option value="null" disabled selected hidden>Seçim edin</option>
                        <option value="0">Əmək stajına görə </option>
                        <option value="1">Əmək şəraitinin xarakterinə görə</option>
                        <option value="2">14 yaşadək ikidən çox uşağı olan qadına</option>
                    </select>
                    <span asp-validation-for="VacationExtraType" class="text-danger"></span>
                </div>

               
              
            </div>

         

            @*<div class="row">
                <div id="salary_pos_div" class="col-sm-6">
                <div class="form-group">
                <label class="floatLabel">  Maaş: </label>
                <input type="text" class="form-control" asp-for="Salary" autocomplete="off">
                </div>
                </div>
                </div>*@

            <div class="form-group row mt-3">
                <div class="col-sm-12 d-flex justify-content-between">
                    <button type="submit" id="sub-btn" class="btn btn-primary m-b-0  btn-block">
                        Təsdiqlə
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")

<script>

    $(document).ready(function () {

        $("#salary_div").css('display', "none");
        $("#pos_div").css('display', "none");
        $("#place_div").css('display', "none");
        $("#graphic_div").css('display', "none");
        $("#vacation_div").css('display', "none");
        $("#vacation_extra_div").css('display', "none");
        $("#clause_div").css('display', "none");
        $("#vacation_type_div").css('display', "none");

        $('.input-daterange input').each(function () {
            $(this).datepicker({
                //format: "dd.mm.yyyy"
            });
        });

        $("form").submit( function(e) {
            let type = $("#Type").val();
            let salary = $("#Salary").val();
            let positionId = $("#PositionId").val();
            let workGraphicId = $("#WorkGraphicId").val();
            let vacationDay = $("#VacationDay").val();
            let vacationExtraType = $("#VacationExtraType").val();
            let clauseId = $("#ClauseId").val();
            let isMainVacation = $("#IsMainVacationTrue").val();

            if(type == 'SALARY' && !salary)
            {
                toastr.error(" Maaş boş ola bilməz !", "Xəta!");
                e.preventDefault();
            }
            else if(type == 'POSITION' && !positionId)
            {
                toastr.error(" Vəzifə boş ola bilməz !", "Xəta!");
                e.preventDefault();
            }
            else if(type == 'SALARY_POSITION' && !positionId)
            {
                toastr.error(" Vəzifə boş ola bilməz !", "Xəta!");
                e.preventDefault();
            }
            else if(type == 'SALARY_POSITION' && !salary)
            {
                toastr.error(" Maaş boş ola bilməz !", "Xəta!");
                e.preventDefault();
            }
            else if(type == 'WORK_GRAPHIC' && !workGraphicId)
            {
                toastr.error(" İstehsalat təqvimi boş ola bilməz !", "Xəta!");
                e.preventDefault();
            }
            else if(type == 'WORK_GRAPHIC' && !clauseId)
            {
                toastr.error(" Şablon boş ola bilməz !", "Xəta!");
                e.preventDefault();
            }
            else if(type == 'VACATION' && !vacationDay)
            {
                toastr.error(" Məzuniyyət gün sayı boş ola bilməz !", "Xəta!");
                e.preventDefault();
            } else if(type == 'VACATION' && isMainVacation=='False' && !vacationExtraType)
            {
                toastr.error(" Məzuniyyət əlavə gün növü boş ola bilməz !", "Xəta!");
                e.preventDefault();
            }
        });
    });

    $(document).on('change','#Type', function(){
        var _id = $(this).val();

        if (_id == "SALARY") {
            $("#PositionId").empty();
            $("#PositionId").prop('disabled', false);
            $("#PositionId").html(`<option value="" disabled selected hidden>Seçim edin</option>`);

            $("#salary_div").css('display', "block");
            $("#pos_div").css('display', "none");
            $("#place_div").css('display', "none");
            $("#graphic_div").css('display', "none");
            $("#vacation_div").css('display', "none");
            $("#clause_div").css('display', "none");
            $("#vacation_type_div").css('display', "none");
            $("#vacation_extra_div").css('display', "none");

        }
        else if (_id == "POSITION") {
            var _id = $("#UserId").val();
            if (_id != null) {
                getPos(_id);
            }
            $("#salary_div").css('display', "none");
            $("#pos_div").css('display', "block");
            $("#place_div").css('display', "none");
            $("#graphic_div").css('display', "none");
            $("#vacation_div").css('display', "none");
            $("#clause_div").css('display', "none");
            $("#vacation_type_div").css('display', "none");
            $("#vacation_extra_div").css('display', "none");

        }
        else if (_id == "SALARY_POSITION") {
            var _id = $("#UserId").val();
            if (_id != null) {
                getPos(_id);
            }
            $("#salary_div").css('display', "block");
            $("#pos_div").css('display', "block");
            $("#place_div").css('display', "none");
            $("#graphic_div").css('display', "none");
            $("#vacation_div").css('display', "none");
            $("#clause_div").css('display', "none");
            $("#vacation_type_div").css('display', "none");
            $("#vacation_extra_div").css('display', "none");
        }
        else if (_id == "WORK_PLACE") {
            $("#salary_div").css('display', "none");
            $("#pos_div").css('display', "none");
            $("#place_div").css('display', "block");
            $("#graphic_div").css('display', "none");
            $("#clause_div").css('display', "none");
            $("#vacation_div").css('display', "none");
            $("#vacation_type_div").css('display', "none");
            $("#vacation_extra_div").css('display', "none");
        }
        else if (_id == "WORK_GRAPHIC") {
            $("#salary_div").css('display', "none");
            $("#pos_div").css('display', "none");
            $("#place_div").css('display', "none");
            $("#graphic_div").css('display', "block");
            $("#clause_div").css('display', "block");
            $("#vacation_div").css('display', "none");
            $("#vacation_type_div").css('display', "none");
            $("#vacation_extra_div").css('display', "none");
        }
        else if (_id == "VACATION") {
            $("#salary_div").css('display', "none");
            $("#pos_div").css('display', "none");
            $("#place_div").css('display', "none");
            $("#graphic_div").css('display', "none");
            $("#clause_div").css('display', "none");
            $("#vacation_div").css('display', "block");
            $("#vacation_type_div").css('display', "block");
        }
    });

    $(document).on('change','#UserId', function(){
            var _id = $(this).val();
            getPos(_id);

            $.ajax({
                type: 'Get',
                url: '@Url.ActionLink("GetUserVacationDay", "Account")',
                data: {
                    userId: _id,
                },
                success: function (response)
                {
                    if (response.error == true)
                    {
                        toastr.error(response.message, "Xəta baş verdi!");
                        return;
                    }
                    $('#UserVacationDay').val(response);
                },
                error: function (response) {
                    $("#overlay").fadeOut(300);
                    toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                }
            });
    });

    $(document).on('click','#IsMainVacationFalse', function(){
         $('#VacationDay').val($('#UserVacationDay').val());
           $("#vacation_extra_div").css('display', "block");
    })

    $(document).on('click','#IsMainVacationTrue', function(){
         $('#VacationDay').val('');
         $("#vacation_extra_div").css('display', "none");
    })

    function getPos(_id) {
          $.ajax({
                type: 'Get',
                url: '@Url.ActionLink("GetPositionWithUser", "Account")',
                data: {
                    userId: _id,
                },
                success: function (response)
                {
                    if (response.error == true)
                    {
                        toastr.error(response.message, "Xəta baş verdi!");
                        return;
                    }
                    $("#PositionId").empty();
                    var html = "";

                    for (var i in response) {
                        html += `<option value="${[response[i].id]}">
                        ${[response[i].name]}</option>`
                    }

                    if(response.length>0)
                    {
                        $("#PositionId").prop('disabled', false);
                        $("#PositionId").html(`<option value="" disabled selected hidden>Seçim edin</option>`+ html);
                    }
                    else{
                         $("#PositionId").prop('disabled', false);
                        $("#PositionId").html(`<option value="" disabled selected hidden>Yoxdur!</option>`);
                    }

                },
                error: function (response) {
                    $("#overlay").fadeOut(300);
                    toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                }
           });
    }

    $(document).on('change','#CompanyId', function(){
        var _id = $(this).val();

        $.ajax({
            type: 'Get',
            url: '@Url.ActionLink("GetCompanyUsers", "Account")',
            data: {
                companyId: _id,
            },
            success: function (response)
            {
                if (response.error == true)
                {
                    toastr.error(response.message, "Xəta baş verdi!");
                    return;
                }
                $("#UserId").empty();
                var html = "";

                for (var i in response) {
                    html += `<option value="${[response[i].id]}">
                    ${[response[i].name]}</option>`
                }

                if(response.length>0)
                {
                    $("#UserId").prop('disabled', false);
                    $("#UserId").html(`<option value="" disabled selected hidden>Seçim edin</option>`+ html);
                }
                else{
                    $("#UserId").prop('disabled', false);
                    $("#UserId").html(`<option value="" disabled selected hidden>Yoxdur!</option>`);
                }

            },
            error: function (response) {
                $("#overlay").fadeOut(300);
                toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
            }
       });
    });

</script>