@model AppUserClaimsDto
@{
    Layout = null;
    var name = string.IsNullOrWhiteSpace(Model.User.Email) ? Model.User.PhoneNumber : Model.User.Email;
}


        <div class="row">

            <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs  tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab"
                           href="#home1" role="tab">Rollar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab"
                           href="#profile1" role="tab">Selahiyyetler</a>
                    </li>

                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs card-block">
                    <div class="tab-pane active" id="home1" role="tabpanel">

                                <div class="dt-responsive table-responsive">
                                    <table id="order-table1"  class="table table-striped table-bordered nowrap">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Position</th>


                                            </tr>
                                        </thead>
                                        <tbody id = "alert-sw_1">
                                            @foreach (var role in Model.Roles)
                                            {
                                                <tr>
                                                    <td class="row-identifier text-center">
                                                        <div class="checkbox-fade fade-in-primary d-">
                                                            <label>
                                                                <input class="permissions" id="role-@role.Item1.Id" data-role-id="@role.Item1.Id" type="checkbox" @(role.Item2 ? "checked" : "") value="">
                                                                <span class="cr">
                                                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                                </span>
                                                            </label>
                                                        </div>
                                                        @*<input id="role-@role.Item1.Id" data-role-id="@role.Item1.Id" type="checkbox" @(role.Item2 ? "checked" : "") />*@
                                                    </td>
                                                    <td><label for="role-@role.Item1.Id">@role.Item1.Name</label></td>
                                                </tr>
                                            }

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Position</th>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                    </div>
                    <div class="tab-pane" id="profile1" role="tabpanel">
                        <table id="order-table2"
                               class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                </tr>
                            </thead>
                            <tbody id = "alert-sw_2">
                                @foreach (var claim in Model.Claims)
                                {
                                    <tr>
                                        <td class="row-identifier text-center">
                                            <div class="checkbox-fade fade-in-primary d-">
                                                <label>
                                                    <input class="permissions" id="policy-@claim.Item1" data-claim-name="@claim.Item1" type="checkbox" @(claim.Item2 ? "checked" : "") value="">
                                                    <span class="cr">
                                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                    </span>
                                                </label>
                                            </div>
                                            @*<input id="policy-@claim.Item1" data-claim-name="@claim.Item1" type="checkbox" @(claim.Item2 ? "checked" : "") />*@
                                        </td>
                                        <td><label for="policy-@claim.Item1">@claim.Item1</label></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                </tr>
                            </tfoot>
                        </table>

                    </div>

                </div>
                <!-- Checkbox Tree card start -->
                <!-- Checkbox Tree card end -->
            </div>

        </div>


    <script type="text/javascript" src="~/files/assets/js/script.js"></script>
    <script class="removable">
    $(document).ready(function () {
        $('#order-table1').DataTable({
            "paging": true,
            "ordering": true,
            "bLengthChange": true,
            "info": true,
            "searching": true
        });
                $('#order-table2').DataTable({
            "paging": true,
            "ordering": true,
            "bLengthChange": true,
            "info": true,
            "searching": true
        });

          $("#alert-sw_1").on("change", ".permissions",function(e){

              let roleId = $(e.currentTarget).data('role-id');
              let selected = $(e.currentTarget).is(':checked');
              let userId = @Model.User.Id;

              swal({
                title: "Diqqət!",
                text: `'@name'-istifadecisine bu rolu vermek istediyinizden eminsiniz?`,
                icon: "warning",
                buttons: ['Xeyr', 'Bəli']
            })
                .then(willDelete => {
                    if (willDelete) {
                        $.ajax({
                            url: '@Url.Action("SetRole")',
                            type: 'get',
                            data: {roleId,userId,selected},
                            contentType: 'application/x-www-form-urlencoded',
                            dataType:'json',
                            success: function (response) {
                    
                            if (response.error == false) {
                                toastr.success(response.message,'Icra edildi');
                            }
                            else{
                                $(e.currentTarget).prop('checked',!selected);
                                toastr.warning(response.message,'Diqqet');
                            }}
                      });
                    }
                    else{
                        $(e.currentTarget).prop('checked',!selected);
                    }
                })

    });

          $("#alert-sw_2").on("change", ".permissions",function(e){

              let claimName = $(e.currentTarget).data('claim-name');
              let selected = $(e.currentTarget).is(':checked');
              let userId = @Model.User.Id;

              let message = `'@name'-istifadecisine ${claimName} imtiyazi vermek istediyinizden eminsiniz?`;

              if(selected == false)
              {
                  message = `'@name'-istifadecisinden ${claimName} imtiyazi almaq istediyinizden eminsiniz?`;
              }


              swal({
                title: "Diqqət!",
                text: message,
                icon: "warning",
                buttons: ['Xeyr', 'Bəli']
            })
                .then(willDelete => {
                    if (willDelete) {
                        $.ajaxSettings.autoReload=false;
                        $.ajax({
                            url: '@Url.Action("SetClaim")',
                            type: 'get',
                            data: {claimName,userId,selected},
                            contentType: 'application/x-www-form-urlencoded',
                            dataType:'json',
                            success: function (response) {
  
                            if (response.error == false) {
                                toastr.success(response.message,'Icra edildi');
                            }
                            else{
                                $(e.currentTarget).prop('checked',!selected);
                                toastr.warning(response.message,'Diqqet');
                            }}
                      });
                    }
                    else{
                        $(e.currentTarget).prop('checked',!selected);
                    }
                })

    });
    });
    </script>
