@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@model AppUserUpdateDto

@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/files/lib/jquery-easyui-1.10.4/themes/bootstrap/easyui.css">

<div class="row">
    <div class="col-lg-12 col-xl-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs  tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab"
                   href="#home1" role="tab">Şəxsi Məlumatlar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab"
                   href="#profile1" role="tab">Fayllar</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab"
                   href="#vacationRemain" role="tab">Məzuniyyət qalıqları</a>
            </li>

        </ul>
        <!-- Tab panes -->
        <form asp-action="Update" class="main-signin-form" enctype="multipart/form-data">
            <div class="tab-content tabs card-block">
                <div class="tab-pane active" id="home1"
                     role="tabpanel">
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Ad: </label>
                                <input type="text" class="form-control" asp-for="Name" autocomplete="off">
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Soyad: </label>
                                <input type="text" class="form-control" asp-for="Surname" autocomplete="off">
                                <span asp-validation-for="Surname" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Ata adı: </label>
                                <input type="text" class="form-control" asp-for="Fathername" autocomplete="off">
                                <span class="messages"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Əmək Haqqı: </label>
                                <input type="number" class="form-control" asp-for="Salary" autocomplete="off">
                                <span class="messages"></span>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Vəsiqənin Seriyası və Nömrəsi: </label>
                                <input type="text" class="form-control" asp-for="IdCardNumber" autocomplete="off">
                                <span asp-validation-for="IdCardNumber" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Vəsiqənin Verilmə Tarixi: </label>
                                <input type="date" class="form-control" asp-for="IdCardGiveDate" autocomplete="off">
                                <span asp-validation-for="IdCardGiveDate" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Sənəd növü: </label>
                                <select name="select" asp-for="IdCardType" name="IdCardType" class="form-control">
                                    <option value="" disabled selected hidden>Seçim edin</option>
                                    @foreach (var item in ViewBag.idCardTypes)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }

                                </select>
                                <span asp-validation-for="IdCardType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel"> Vətəndaşlıq: </label>
                                <input type="text" class="form-control" asp-for="Citizenship" autocomplete="off">
                                <span class="messages"></span>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Vəsiqənin Qüvvədə Olma Tarixi: </label>
                                <input type="date" class="form-control" asp-for="IdCardExpireDate" autocomplete="off">
                                <span asp-validation-for="IdCardExpireDate" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Vəsiqəni Verən Orqanın Adı: </label>
                                <input type="text" class="form-control" asp-for="IdCardGivePlace" autocomplete="off">
                                <span asp-validation-for="IdCardGivePlace" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel"> Fin kod: </label>
                                <input type="text" class="form-control" asp-for="Pin" autocomplete="off">
                                <span asp-validation-for="Pin" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <label class="floatLabel">  İşə Başlama Tarixi: </label>
                            <div class="form-group">
                                <input asp-for="StartWorkDate" type="date" class="form-control" id="inputDate">
                                <span asp-validation-for="StartWorkDate" class="text-danger"></span>
                                @*<a href="#" id="buttonid" style="position: absolute;top: 7px;right: 25px;" class="ion-close-round">x</a>*@
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Email: </label>
                                <input type="email" class="form-control" asp-for="Email" autocomplete="off">
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Doğum Tarixi: </label>
                                <input asp-for="Birthday" type="date" class="form-control">
                                @*<a href="#" id="buttonid" style="position: absolute;top: 7px;right: 25px;" class="ion-close-round">x</a>*@

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel"> Yaşadığı Ünvan: </label>
                                <input type="text" class="form-control" asp-for="Address" autocomplete="off">
                                <span class="messages"></span>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel"> Qeydiyyat Ünvanı: </label>
                                <input type="text" class="form-control" asp-for="RegisterAdress" autocomplete="off">
                                <span asp-validation-for="RegisterAdress" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="floatLabel">   Şirkət: </label>
                            <div style="margin-bottom:20px">
                                <input type="text" class="form-control" asp-for="CompanyId" style="width:100%">
                                <span class="CompanyId text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="floatLabel">  Şöbə: </label>
                            <div style="margin-bottom:20px">
                                <input type="text" class="form-control" asp-for="DepartmentId"  style="width:100%">
                                <span class="DepartmentId text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label class="floatLabel">  Vəzifə: </label>
                            <select name="select" asp-for="PositionId" name="PositionId" class="form-control">
                                <option value="" selected hidden>Seçim edin</option>
                                @foreach (var item in ViewBag.position)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }

                            </select>
                            <span asp-validation-for="PositionId" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Dərəcə: </label>
                                <select name="select" asp-for="GradeId" name="GradeId" class="form-control">
                                    <option value="" selected hidden>Seçim edin</option>
                                    @foreach (var item in ViewBag.grades)
                                    {
                                        <option value="@item.Id">@item.GradeName</option>
                                    }

                                </select>
                                <span asp-validation-for="GradeId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>  Cinsi: </label>
                                <div class="form-radio">


                                    <div class="radio radio-inline">
                                        <label for="FEMALE">
                                            <input type="radio" id="FEMALE" value="FEMALE" asp-for="Gender"
                                                   checked="checked">
                                            <i class="helper"></i>Qadın
                                        </label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <label for="MALE">
                                            <input type="radio" id="MALE" value="MALE" asp-for="Gender">
                                            <i class="helper"></i>Kişi
                                        </label>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel"> Bitirdiyi İxtisasın adı: </label>
                                <input type="text" class="form-control" asp-for="Profession" autocomplete="off">
                                <span class="messages"></span>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Təhsilin növü: </label>
                                <select name="select" asp-for="EducationLevel" name="EducationLevel" class="form-control">
                                    <option value="" disabled selected hidden>Seçim edin</option>
                                    @foreach (var item in ViewBag.educationLevels)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }

                                </select>
                                <span asp-validation-for="EducationLevel" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel"> Bitirdiyi Təhsil Müəssisəsinin adı: </label>
                                <input type="text" class="form-control" asp-for="GraduatedPlace" autocomplete="off">
                                <span class="messages"></span>
                            </div>

                        </div>

                    </div>
                      <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel"> Məzuniyyət Əsas Gün Sayı: </label>
                                <input type="number" class="form-control" asp-for="VacationMainDay" autocomplete="off">
                                <span asp-validation-for="VacationMainDay" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel"> Məzuniyyət Əmək Stajına görə: </label>
                                <input type="number" class="form-control" asp-for="VacationExtraExperience" autocomplete="off">
                               
                            </div>
                        </div>
                    </div>

                      <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel"> Məzuniyyət Əmək Şəraitinin Xarakterinə görə: </label>
                                <input type="number" class="form-control" asp-for="VacationExtraNature" autocomplete="off">
                               
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel"> Məzuniyyət 14 Yaş. İki. Çox Uşağı..: </label>
                                <input type="number" class="form-control" asp-for="VacationExtraChild" autocomplete="off">
                               
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Tel: </label>
                                <input type="text" class="form-control" asp-for="PhoneNumber" autocomplete="off">
                                <span asp-validation-for="PhoneNumber" placeholder="+994 __-___-__-__" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <label class="floatLabel">  İstehsalat təqvimi: </label>
                            <select asp-for="WorkGraphicId" class="form-control">
                                <option value="" disabled selected hidden>Seçim edin</option>
                                @foreach (var item in ViewBag.workGraphics)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <span asp-validation-for="WorkGraphicId" class="text-danger"></span>
                        </div>


                    </div>

                    <div id="row-box">
                        <input id="rowCount" type="hidden" value="@Model.UserExperiences.Count" />
                        @for (var i = 0; i < Model.UserExperiences.Count; i++)
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="floatLabel"> Yer: </label>
                                        <input type="text" class="form-control" asp-for="UserExperiences[i].Place" autocomplete="off">
                                        <span class="messages"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="floatLabel"> Tarix: </label>
                                        <div class="input-group input-daterange mb-0">
                                            <input type="text" asp-for="UserExperiences[i].ExperienceStart" class="form-control experience-history" autocomplete="off">
                                            <div class="input-group-addon">to</div>
                                            <input type="text" asp-for="UserExperiences[i].ExperienceEnd" class="form-control experience-history" autocomplete="off">
                                        </div>
                                        <span asp-validation-for="UserExperiences[0].ExperienceStart" class="text-danger"></span>
                                        <span asp-validation-for="UserExperiences[0].ExperienceEnd" class="text-danger"></span>
                                        <span class="messages"></span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            İş stajı: <button type="button" id="addRow" class="btn btn-outline-success rounded-circle"><i class="icofont icofont-plus m-0"></i></button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="profile1" role="tabpanel">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="file upload btn btn-outline-primary btn-round mb-3" style="position: relative;overflow: hidden;">
                                            Şəkil Yüklə
                                            <input type="file" name="profile" id="Profile" style="position: absolute;font-size: 50px;opacity: 0;right: 0;top: 0;" />
                                        </div>
                                    </div>
                                    <div class="col-md-6  col-lg-6 col-sm-6">
                                        @if (@Model.Picture != null)
                                        {
                                            <div class="border text-center pt-2">
                                                <div class="pt-0">
                                                    <label class="floatLabel">Şəkil:</label>
                                                    <img src="~/profile/@Model.Picture" class="pb-2" style="width: 150px; height: 150px;" alt="@Model.Name" />
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="border text-center pt-2">
                                                <div class="pt-0">
                                                    <label class="floatLabel">Şəkil:</label>
                                                    <img src="~/profile/default.png" class="pb-2" style="width: 150px; height: 150px;" alt="Default Avatar" />
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-6">
                                        <div id="lview" style="display:none!important;">
                                            <div class="border text-center pt-2">
                                                <div class="pt-0">
                                                    <label class="floatLabel">Yeni Şəkil:</label>
                                                    <img id="logoview" src="" class="pb-2" style="width: 150px; height: 150px;" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>


                            <div class="col-sm-6 col-xl-6">
                                <div class="file upload btn btn-outline-primary btn-round mb-3" style="position: relative;overflow: hidden;">
                                    Müqavilə Yüklə
                                    <input id="file-upload" type="file" name="pdf" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                                        text/plain, application/pdf" style="position: absolute;font-size: 50px;opacity: 0;right: 0;top: 0;" />
                                </div>
                                <h4 class="sub-title">Müqavilələr</h4>
                                <div class="tags_add" style="display: inline-grid;">
                                    <label id="uploaded" class="badge badge-success"></label>
                                    <div class="bootstrap-tagsinput">
                                        @foreach (var pdf in ViewBag.docs)
                                        {
                                            <span class="tag label text-light bg-dark">
                                                <a class="text-warning" href="~/userContractDocs/@pdf.FilePath" download>+</a> @pdf.CreatedDate <a onclick="removeUserDocs(@pdf.Id,`@pdf.CreatedDate`,`@Url.Action("DeleteUserContract","Account").ToString()`,this)" style="cursor: pointer;" class="text-danger"> x </a>
                                            </span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="vacationRemain" role="tabpanel">
                    <div class="form-group">

                        <div id="vac-box">
                            <input id="vacCount" type="hidden" value="@Model.UserVacationRemains.Count" />
                            @for (var i = 0; i < Model.UserVacationRemains.Count; i++)
                            {


                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="floatLabel"> Tarix: </label>
                                            <input type="hidden" asp-for="UserVacationRemains[i].IsEditable" />
                                            <input type="hidden" asp-for="UserVacationRemains[i].IsDeleted" />

                                            <div class="input-group input-daterange mb-0">
                                                <input type="text" asp-for="UserVacationRemains[i].FromDate" value="@Model.UserVacationRemains[i].FromDate.ToString("dd.MM.yyyy")" class="form-control vacation-remain start old" autocomplete="off">
                                                <div class="input-group-addon">to</div>
                                                <input type="text" asp-for="UserVacationRemains[i].ToDate" value="@Model.UserVacationRemains[i].ToDate.ToString("dd.MM.yyyy")" class="form-control vacation-remain end old" autocomplete="off">
                                            </div>

                                            <span asp-validation-for="UserVacationRemains[i].ToDate" class="text-danger"></span>
                                            <span asp-validation-for="UserVacationRemains[i].FromDate" class="text-danger"></span>
                                            <span class="messages"></span>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="floatLabel">  Qalıq gün: </label>
                                            <input type="text" class="form-control" asp-for="UserVacationRemains[i].RemainCount" autocomplete="off">

                                            <span class="messages"></span>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="row">
                            <div class="col-12 text-right">
                                Əlavə et: <button type="button" id="addVacDay" class="btn btn-outline-success rounded-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Məzuniyyət qalığı"><i class="icofont icofont-plus m-0"></i></button>
                            </div>
                        </div>

                        @foreach (var item in ViewBag.userVacationDisable)
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="floatLabel"> Tarix: </label>
                                        <div class="input-group input-daterange mb-0">
                                            <input type="text" value="@item.FromDate.ToString("dd.MM.yyyy")" readonly class="form-control vacation-remain start disable disabled_custom" autocomplete="off">
                                            <div class="input-group-addon">to</div>
                                            <input type="text" value="@item.ToDate.ToString("dd.MM.yyyy")" readonly class="form-control vacation-remain end disable disabled_custom" autocomplete="off">
                                        </div>
                                        <span class="messages"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="floatLabel">  Qalıq gün: </label>
                                        <input type="text" class="form-control disabled_custom" readonly value="@item.RemainCount" autocomplete="off">

                                        <span class="messages"></span>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>

                <div class="form-group row mt-3">
                    <div class="col-sm-12 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary m-b-0  btn-block">
                            Təsdiqlə
                        </button>

                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

<script type="text/javascript" src="~/files/lib/jquery-easyui-1.10.4/jquery.easyui.min.js"></script>

<!-- Mask js -->
<script type="text/javascript" src="~/files/lib/jquery.maskedinput/jquery.maskedinput.min.js"></script>

<!-- delete_ajax-->
<script src="~/files/lib/cust_ajax/delete_ajax.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        let dateArray = [];

         $("form").submit( function(e) {
                let isEmpty = false;
                $(".experience-history").each(function(i, el){
                     let val = $(el).val();
                     if(!val)
                     {
                         isEmpty = true;
                     }
                });
                if(isEmpty)
                {
                    toastr.error(" Staj tarixi boş ola bilməz !", "Xəta!");
                    e.preventDefault();
                }
                if(!checkDate())
                {
                    e.preventDefault();
                    return;
                }
                checkRemainCount(e);
            var CompanyId = $('#CompanyId').combotree('getValue');
            var DepartmentId = $('#DepartmentId').combotree('getValue');
            var PositionId = $('#PositionId').combotree('getValue');

            if(CompanyId.trim() === ""){
               $('.CompanyId').text($('#CompanyId').data("val-required")).removeClass("d-none");
               e.preventDefault();
             }
            if(DepartmentId.trim() === ""){
               $('.DepartmentId').text($('#DepartmentId').data("val-required")).removeClass("d-none");
               e.preventDefault();
             }
             if(PositionId.trim() === ""){
                 console.log(PositionId.trim())
               $('.PositionId').text($('#PositionId').data("val-required")).removeClass("d-none");
               e.preventDefault();
             }
         });

         function setDisableAndOld() {
            dateArray = [];
            setDate('disable');
            setDate('old');
         }

         function checkRemainCount(e)
         {
            let isEmpty = false;
            $(".remain-count").each(function(i, el){
                    let val = $(el).val();
                    if(!val)
                    {
                        isEmpty = true;
                    }
            });
            if(isEmpty)
            {
                toastr.error(" Qalıq gün boş ola bilməz !", "Xəta!");
                e.preventDefault();
                return isEmpty;
            }
         }

         function setDate(type) {
            $(`.vacation-remain.${type}`).each(function (i, el) {
                let val = $(el).val();
                val = new Date(val);
                val.setHours(0, 0, 0, 0);
                let startMonth = val.getMonth() + 1;
                let startDay = val.getDate();
                let year = val.getFullYear();
                if(type == 'disable')
                {
                    val = new Date(year, startDay - 1, startMonth);
                }
                startMonth = val.getMonth() + 1;
                startDay = val.getDate();
                if(i % 2 == 0)
                {
                    dateArray.push(val);
                }
            })
         }

         function checkDate() {
            setDisableAndOld();
            let startYear;
            let valid = true;
            $(".vacation-remain").each(function (i, el) {
                let startWorkDate = $('#inputDate').val();
                startWorkDate = new Date(startWorkDate);
                startWorkDate.setHours(0, 0, 0, 0);
                let startWorkMonth = startWorkDate.getMonth() + 1;
                let startWorkDay = startWorkDate.getDate();
                let val = $(el).val();
                val = new Date(val);
                val.setHours(0, 0, 0, 0);
                let startMonth = val.getMonth() + 1;
                let startDay = val.getDate();
                let year = val.getFullYear();
                if (el.classList.contains('disable')) {
                    val = new Date(year, startDay - 1, startMonth);
                    startMonth = val.getMonth() + 1;
                    startDay = val.getDate();
                }
                else if(el.classList.contains('new')) {
                    if (el.classList.contains('start') && startWorkDate > val) {
                     toastr.error(" Məzuniyyət qalığının başlama tarixi işə başlama tarixindən kiçik ola bilməz !", "Xəta!");
                      valid = false;
                      return valid;
                    }
                    if (i % 2 == 1) {
                        if (year - startYear != 1) {
                             toastr.error(" Aralıq 1 il olmalıdır !", "Xəta!");
                              valid = false;
                              return valid;
                        }
                    }
                    else {
                        startYear = year;
                    }
                    if (startMonth != startWorkMonth || startDay != startWorkDay) {
                        toastr.error(" Ay və gün işə başlama tarixindəki ilə eyni olmalıdı !", "Xəta!");
                         valid = false;
                         return valid;
                    }
                    if (valid && val && i % 2 == 0) {
                        if (dateArray.some(x => new Date(x).getTime() == new Date(val).getTime())) {
                             toastr.error(" Tarix artıq mövcuddur !", "Xəta!");
                              valid = false;
                              return valid;
                        }
                        else {
                            dateArray.push(val)
                        }
                    }
                }
            });
             return valid;
         }

          $('.input-daterange input').each(function () {
                $(this).datepicker({
                    //format: "dd.mm.yyyy"
                });
          });
          $("#addRow").click(function () {
                let rowCount = parseInt($("#rowCount").val());
                rowCount++;
                $("#rowCount").val(rowCount);
                let html = `<div class="row"> <div class="col-sm-6"> <div class="form-group"> <label class="floatLabel"> Yer: </label> <input type="text" class="form-control" name="UserExperiences[${rowCount - 1}].Place" autocomplete="off"> <span class="messages"></span> </div> </div><div class="col-sm-6" > <div class="form-group"> <label class="floatLabel"> Tarix: </label> <div class="input-group input-daterange mb-0"> <input type="text" name="UserExperiences[${rowCount - 1}].ExperienceStart" class="form-control experience-history" autocomplete="off"> <div class="input-group-addon">to</div> <input type="text" name="UserExperiences[${rowCount - 1}].ExperienceEnd" class="form-control experience-history" autocomplete="off"> </div> <span class="text-danger field-validation-error" data-valmsg-for="UserExperiences[${rowCount - 1}].ExperienceStart" data-valmsg-replace="true"><span id="UserExperiences[${rowCount - 1}].ExperienceStart-error" class=""></span></span></span> <span class="text-danger field-validation-error" data-valmsg-for="UserExperiences[${rowCount - 1}].ExperienceEnd" data-valmsg-replace="true"><span id="UserExperiences[${rowCount - 1}].ExperienceEnd-error" class=""></span></span> <span class="messages"></span> </div> </div> </div>`
                $('#row-box').append(html);

                $('.input-daterange input').each(function () {
                    $(this).datepicker({
                        //format: "dd.mm.yyyy"
                    });
                });
          });

        $("#addVacDay").click(function (e) {
            if(!checkDate() || checkRemainCount(e))
            {
                return;
            }
            let rowCount = parseInt($("#vacCount").val());
            rowCount++;
            $("#vacCount").val(rowCount);
            let html = `<div class="row"><div class="col-sm-6" > <div class="form-group"> <label class="floatLabel"> Tarix: </label> <div class="input-group input-daterange mb-0"> <input type="text" name="UserVacationRemains[${rowCount - 1}].FromDate" class="form-control vacation-remain start new" autocomplete="off"> <div class="input-group-addon">to</div> <input type="text" name="UserVacationRemains[${rowCount - 1}].ToDate" class="form-control vacation-remain end new" autocomplete="off"> </div> <span class="text-danger field-validation-error" data-valmsg-for="UserExperiences[${rowCount - 1}].FromDate" data-valmsg-replace="true"><span id="UserVacationRemains[${rowCount - 1}].FromDate-error" class=""></span></span></span> <span class="text-danger field-validation-error" data-valmsg-for="UserExperiences[${rowCount - 1}].ToDate" data-valmsg-replace="true"><span id="UserVacationRemains[${rowCount - 1}].ToDate-error" class=""></span></span> <span class="messages"></span> </div> </div> <div class="col-sm-6"> <div class="form-group"> <label class="floatLabel"> Qalıq gün: </label> <input type="number" class="form-control remain-count" name="UserVacationRemains[${rowCount - 1}].RemainCount" autocomplete="off"> <span class="messages"></span> </div> </div> </div>`
            $('#vac-box').append(html);

            $('.input-daterange input').each(function () {
                $(this).datepicker({
                    //format: "dd.mm.yyyy"
                });
            });
        });



        $("#Profile").change(function (e) {
                $("#lview").show();
                $("#logoview").attr('src', URL.createObjectURL(e.target.files[0]));
        });
            $('#file-upload').change(function() {
            var file = $('#file-upload')[0].files[0].name;
            $('#uploaded').removeClass("d-none").text(file);
        });
        //phone number masking
        $.mask.definitions['9'] = '';
        $.mask.definitions['_'] = '[0-9]';
        $("#PhoneNumber").on("focus",function(){
                 $("#PhoneNumber").mask("+___ __-___-__-__",{clearMaskOnLostFocus: false,placeholder: "+___ __-___-__-__"});
        });

        $.ajax({
            url: `@Url.Action("GetCompanyTree","Account")`,
            type: "Get",
            data: "",
            dataType: "json",
            cache: false,
            success: function (data) {
              $.ajax({
                        url: `@Url.Action("GetDepartmentTree","Account")`,
                        type: "Get",
                        data: {
                            companyId: $('#CompanyId').val(),
                        },
                        dataType: "json",
                        cache: false,
                        success: function (data) {
                            if(data.length > 0){
                               var tree = $('#DepartmentId').combotree({
                                  data:data,
                                  prompt:'Seçim edin'
                                });
                                tree.combotree('disable')
                            }
                            else{
                                 var tree = $('#DepartmentId').combotree({
                                    prompt:'Yoxdur !',
                                 });
                                 tree.combotree('disable')
                            }
                        },
                        error: function (data) {
                                toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                        }
              })

              $.ajax({
                        url: `@Url.Action("GetPositionTree","Account")`,
                        type: "Get",
                        data: {
                            departmentId: $('#DepartmentId').val(),
                        },
                        dataType: "json",
                        cache: false,
                        success: function (data) {
                            if(data.length > 0){
                            var tre = $('#PositionId').combotree({
                                 data:data,
                                 prompt:'Seçim edin'
                            });
                            tre.combotree('disable')
                            }
                            else{
                            var tree = $('#PositionId').combotree({
                                 prompt:'Yoxdur !',
                            });
                            tree.combotree('disable')
                            }
                        },
                        error: function (data) {
                                toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                        }
              })

              $('#CompanyId').combotree({
                data:data,
                prompt:'Seçim edin',
                onClick:function(node){
                    $('.CompanyId').text($('#CompanyId').data("val-required")).addClass("d-none")
                    $.ajax({
                        url: `@Url.Action("GetDepartmentTree","Account")`,
                        type: "Get",
                        data: {
                            companyId:  node.id,
                        },
                        dataType: "json",
                        cache: false,
                        success: function (data) {
                            if(data.length > 0) {
                                var tre =$('#DepartmentId').combotree({
                                     data:data,
                                     prompt:'Seçim edin'
                                });

                                var tree = $('#PositionId').combotree({
                                   prompt:'Seçim edin'
                                });
                                tree.combotree('disable')
                                $('#DepartmentId').combotree({
                                data:data,
                                prompt:'Seçim edin',
                                onClick:function(node) {
                                $('.DepartmentId').text($('#DepartmentId').data("val-required")).addClass("d-none")
                                $.ajax({
                                    url: `@Url.Action("GetPositionTree","Account")`,
                                    type: "Get",
                                    data: {
                                        departmentId:  node.id,
                                    },
                                    dataType: "json",
                                    cache: false,
                                    success: function (data) {
                                        if(data.length > 0){
                                         var tree =  $('#PositionId').combotree({
                                             data:data,
                                             prompt:'Seçim edin'
                                         });
                                         tree.combotree('enable')
                                         $('#PositionId').combotree('setValue', '')
                                        }
                                        else{
                                           var tre = $('#PositionId').combotree({
                                               prompt:'Yoxdur !',
                                           });
                                           tre.combotree('disable')
                                           tre.combotree('setValue', '')
                                        }
                                    },
                                    error: function (data) {
                                            toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                                    }
                                })
                                 }
                                })
                                tre.combotree('enable')
                            }
                            else{
                             var tree = $('#DepartmentId').combotree({
                                 prompt:'Yoxdur !',
                             });
                             tree.combotree('disable')
                             tree.combotree('setValue', '') 
                             var tre = $('#PositionId').combotree({
                                 prompt:'Yoxdur !',
                             });
                             tre.combotree('disable')
                             tre.combotree('setValue', '')
                            }
                        },
                        error: function (data) {
                                toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                        }
                    })
                 }
              })
            },
            error: function (data) {
                    toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
            }
        });
        $.ajax({
                    url: `@Url.Action("GetCompanyTree","Position")`,
                    type: "Get",
                    data: "",
                    dataType: "json",
                    cache: false,
                    success: function (data) {
                      $.ajax({
                        url: `@Url.Action("GetDepartmentTree","Account")`,
                        type: "Get",
                        data: {
                            companyId: $('#CompanyId').val(),
                        },
                        dataType: "json",
                        cache: false,
                        success: function (data) {
                            if(data.length > 0){
                               var treeD =  $('#DepartmentId').combotree({
                                  data:data
                                });
                                treeD.combotree('disable')
                                $.ajax({
                                          url: `@Url.Action("GetPositionTree","Account")`,
                                          type: "Get",
                                          data: {
                                              departmentId: $('#DepartmentId').val(),
                                          },
                                          dataType: "json",
                                          cache: false,
                                          success: function (data) {
                                              if(data.length > 0){
                                              var tree = $('#PositionId').combotree({
                                                   data:data
                                              });
                                              tree.combotree('disable')
                                              }
                                              else{
                                              var tree = $('#PositionId').combotree({
                                                   prompt:'Yoxdur !',
                                              });
                                              tree.combotree('disable')
                                              }
                                          },
                                          error: function (data) {
                                                  toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                                          }
                                })
                            }
                            else{
                                 var tree = $('#DepartmentId').combotree({
                                    prompt:'Yoxdur !',
                                 });
                                 tree.combotree('disable')
                            }
                        },
                        error: function (data) {
                                toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                        }
                      })

                      $('#CompanyId').combotree({
                            data:data,
                            onClick:function(node){
                             $('.CompanyId').text($('#CompanyId').data("val-required")).addClass("d-none");
                             $.ajax({
                             url: `@Url.Action("GetDepartmentTree","Account")`,
                             type: "Get",
                             data: {
                                companyId:  node.id,
                             },
                             dataType: "json",
                             cache: false,
                             success: function (data) {
                                if(data.length > 0) {
                                    $('#DepartmentId').combotree({
                                        data:data,
                                        prompt:'Seçim edin'
                                    })
                                       $('#PositionId').combotree('setValue', '')
                                       $('#DepartmentId').combotree({
                                            onClick:function(node){
                                                $('.DepartmentId').text($('#DepartmentId').data("val-required")).addClass("d-none")
                                                $.ajax({
                                                    url: `@Url.Action("GetPositionTree","Account")`,
                                                    type: "Get",
                                                    data: {
                                                       departmentId:  node.id,
                                                    },
                                                    dataType: "json",
                                                    cache: false,
                                                    success: function (data){
                                                        if(data.length>0){
                                                       var treeP = $('#PositionId').combotree({
                                                           data:data,

                                                           onClick:function(node){
                                                               $('.PositionId').text($('#PositionId').data("val-required")).addClass("d-none")
                                                           }
                                                       });
                                                       treeP.combotree('enable')
                                                       $('#PositionId').combotree('setValue', '')
                                                        }
                                                        else{
                                                        var treeP = $('#PositionId').combotree({
                                                                 prompt:'Yoxdur !',
                                                            });
                                                            tree.combotree('disable')
                                                        }

                                                    }
                                                })
                                            }
                                       })
                                }
                                else{
                                     var treeD = $('#DepartmentId').combotree({
                                          prompt:'Yoxdur !',
                                     });
                                     tree.combotree('disable')
                                     var treeP = $('#PositionId').combotree({
                                          prompt:'Yoxdur !',
                                     });
                                     tree.combotree('disable')
                                    }
                             },
                            error: function (data) {
                                    toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                              }
                          })
                         }
                      })
                    },
                    error: function (data) {
                            toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                    }
        });
    });
</script>
@await Html.PartialAsync("_ValidationScriptsPartial")