@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@model BusinessTripUpdateDto

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs  tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab"
                   href="#home1" role="tab">Müqavilə məlumatları</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab"
                   href="#file1" role="tab">Fayllar</a>
            </li>
        </ul>
        <form asp-action="Update" class="main-signin-form" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="tab-content tabs card-block">
                <div class="tab-pane active" id="home1"
                     role="tabpanel">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Şirkət: </label>
                                <select asp-for="CompanyId" class="form-control">
                                    <option value="" disabled selected hidden>Seçim edin</option>
                                    @foreach (var item in ViewBag.companies)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="CompanyId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Ezamiyyət əsası: </label>
                                <select asp-for="CauseId" class="form-control">
                                    <option value="" disabled selected hidden>Seçim edin</option>
                                    @foreach (var item in ViewBag.causes)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="CauseId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel"> Sənəd nömrəsi: </label>
                                <input type="text" class="form-control" asp-for="CommandNumber" autocomplete="off">
                                <span asp-validation-for="CommandNumber" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="floatLabel"> Sənəd tarixi: </label>
                            <div class="form-group">
                                <input asp-for="CommandDate" type="date" class="form-control" id="inputDate">
                                <span asp-validation-for="CommandDate" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="checkbox-zoom zoom-primary">
                                    <label>
                                        <input type="checkbox" asp-for="IsTransportation">
                                        <span class="cr">
                                            <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                        </span>
                                        <span>Nəqliyyat vasitəsi</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="checkbox-zoom zoom-primary">
                                    <label>
                                        <input type="checkbox" asp-for="IsHotelDemand">
                                        <span class="cr">
                                            <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                        </span>
                                        <span>Mehmanxana tələbi</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="row-box">
                        <input id="rowCount" type="hidden" value="@Model.BusinessTripUsers.Count" />
                        @for (var i = 0; i < Model.BusinessTripUsers.Count; i++)
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="floatLabel">  Əməkdaş: </label>
                                        <select asp-for="BusinessTripUsers[i].UserId" class="form-control">
                                            <option value="" disabled selected hidden>Seçim edin</option>
                                            @foreach (var item in ViewBag.users)
                                            {
                                                <option value="@item.Id">
                                                    @(item.Name) @(item.Surname) / @(item.Position.Company.Name!=null? item.Position.Company.Name:"Təyin edilməyib")/ @(item.Position.Department.Name!=null? item.Position.Department.Name:"Təyin edilməyib")/ @(item.Position.Name!=null? item.Position.Name:"Təyin edilməyib")
                                                </option>
                                            }
                                        </select>
                                        <span asp-validation-for="BusinessTripUsers[i].UserId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="floatLabel">  Ezamiyyət yeri: </label>
                                        <select asp-for="BusinessTripUsers[i].PlaceId" class="form-control">
                                            <option value="" disabled selected hidden>Seçim edin</option>
                                            @foreach (var item in ViewBag.places)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                        <span asp-validation-for="BusinessTripUsers[i].PlaceId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="floatLabel"> Tarix: </label>
                                        <div class="input-group input-daterange mb-0">
                                            <input type="text" asp-for="BusinessTripUsers[i].StartDate" class="form-control date" autocomplete="off">
                                            <div class="input-group-addon">to</div>
                                            <input type="text" asp-for="BusinessTripUsers[i].EndDate" class="form-control date" autocomplete="off">
                                        </div>
                                        <span asp-validation-for="BusinessTripUsers[i].StartDate" class="text-danger"></span>
                                        <span asp-validation-for="BusinessTripUsers[i].EndDate" class="text-danger"></span>
                                        <span class="messages"></span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            @*İş stajı: *@
                            <button type="button" id="addRow" class="btn btn-outline-success rounded-circle"><i class="icofont icofont-plus m-0"></i></button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="file1" role="tabpanel">
                    @foreach (var el in ViewBag.contractFiles)
                    {
                        <a class="pl-4" target="_blank" href="~/contractDocs/@el.FilePath">
                            <i class="fa fa-download" aria-hidden="true" style="color: #404E67"></i>
                            @el.Clause.Name
                        </a> <br /> <br />
                    }
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-12 d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary m-b-0  btn-block">
                        Təsdiqlə
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")

<script>
    $(document).ready(function () {

         $('.input-daterange input').each(function () {
            $(this).datepicker({
                //format: "dd.mm.yyyy"
            });
         });

        $("#addRow").click(function () {
                let companyId = $("#CompanyId").val();
                if(!companyId)
                {
                    toastr.error(" Şirkət boş ola bilməz !", "Xəta!");
                    return;
                }
                let rowCount = parseInt($("#rowCount").val());
                rowCount++;
                $("#rowCount").val(rowCount);
                let html = `
                 <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Əməkdaş: </label>
                                <select name="BusinessTripUsers[${rowCount - 1}].UserId" id="BusinessTripUsers[${rowCount - 1}].UserId" class="form-control user-${rowCount - 1}">
                                    <option value="" disabled selected hidden>Seçim edin</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Ezamiyyət yeri: </label>
                                <select name="BusinessTripUsers[${rowCount - 1}].PlaceId" id="BusinessTripUsers[${rowCount - 1}].PlaceId" class="form-control place-${rowCount - 1}">
                                    <option value="" disabled selected hidden>Seçim edin</option>
                                </select>
                            </div>
                        </div>
                 </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="floatLabel"> Tarix: </label>
                            <div class="input-group input-daterange mb-0">
                                <input type="text" name="BusinessTripUsers[${rowCount - 1}].StartDate" class="form-control date" autocomplete="off">
                                <div class="input-group-addon">to</div>
                                <input type="text" name="BusinessTripUsers[${rowCount - 1}].EndDate" class="form-control date" autocomplete="off">
                            </div>
                        </div>
                    </div>`
                $('#row-box').append(html);

                $('.input-daterange input').each(function () {
                    $(this).datepicker({
                        //format: "dd.mm.yyyy"
                    });
                });
                getCompanyUsers(companyId, rowCount);
                getPlaces(rowCount);
          });

          function getCompanyUsers(_id, rowCount)
          {
               $.ajax({
                    type: 'Get',
                    url: '@Url.ActionLink("GetCompanyUsers", "Account")',
                    data: {
                        companyId: _id,
                    },
                    success: function (response)
                    {
                        if (response.error == true)
                        {
                            toastr.error(response.message, "Xəta baş verdi!");
                            return;
                        }
                        

                        $(`.user-${rowCount - 1}`).empty();
                        var html = "";

                        for (var i in response) {
                            html += `<option value="${[response[i].id]}">
                            ${[response[i].name]}</option>`
                        }

                        if(response.length>0)
                        {
                            $(`.user-${rowCount - 1}`).prop('disabled', false);
                            $(`.user-${rowCount - 1}`).html(`<option value="" disabled selected hidden>Seçim edin</option>`+ html);
                        }
                        else{
                            $(`.user-${rowCount - 1}`).prop('disabled', false);
                            $(`.user-${rowCount - 1}`).html(`<option value="" disabled selected hidden>Yoxdur!</option>`);
                        }
                    },
                    error: function (response) {
                        $("#overlay").fadeOut(300);
                        toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                    }
               });
          }

          function getPlaces(rowCount)
          {
               $.ajax({
                    type: 'Get',
                    url: '@Url.ActionLink("GetPlaces", "Place")',
                    success: function (response)
                    {
                        if (response.error == true)
                        {
                            toastr.error(response.message, "Xəta baş verdi!");
                            return;
                        }
                        

                        $(`.place-${rowCount - 1}`).empty();
                        var html = "";

                        for (var i in response) {
                            html += `<option value="${[response[i].id]}">
                            ${[response[i].name]}</option>`
                        }

                        if(response.length>0)
                        {
                            $(`.place-${rowCount - 1}`).prop('disabled', false);
                            $(`.place-${rowCount - 1}`).html(`<option value="" disabled selected hidden>Seçim edin</option>`+ html);
                        }
                        else{
                            $(`.place-${rowCount - 1}`).prop('disabled', false);
                            $(`.place-${rowCount - 1}`).html(`<option value="" disabled selected hidden>Yoxdur!</option>`);
                        }
                    },
                    error: function (response) {
                        $("#overlay").fadeOut(300);
                        toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                    }
               });
          }
    });
</script>