@model StockUpdateDto

@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-12 col-xl-12">
        <form asp-action="Update" class="main-signin-form">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">Ad: </label>
                        <input type="text" class="form-control" asp-for="Name" autocomplete="off">
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">Kateqoriya: </label>
                        <select name="select" asp-for="StockCategoryId" name="StockCategoryId" class="form-control">
                            <option value="" selected disabled hidden>Seçim edin</option>
                            @foreach (var item in ViewBag.StockCategories)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                        <span asp-validation-for="StockCategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Şirkət: </label>
                        <select name="select" asp-for="CompanyId" name="CompanyId" class="form-control">
                            <option value="" disabled selected hidden>Seçim edin</option>

                            @foreach (var item in ViewBag.companies)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                        <span asp-validation-for="CompanyId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">İstifadəçi: </label>
                        <select name="select" asp-for="IntranerUserId" name="IntranerUserId" class="form-control">
                            <option value="" selected disabled hidden>Seçim edin</option>
                            <option value="">Yoxdur</option>
                            @foreach (AppUserDetailsDto item in ViewBag.users)
                            {
                                <option value="@item.Id">@item.ToString()</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">MacAddress: </label>
                        <input type="text" class="form-control" asp-for="MacAddress" autocomplete="off" placeholder="____:____:____:____">
                        <span class="messages"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">Dəyər: </label>
                        <input type="text" asp-for="Price" class="form-control autonumber">
                        @*@Html.EditorFor(model => model.Price)*@
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">İnventar etiket kodu: </label>
                        <input type="text" class="form-control" asp-for="SKU" autocomplete="off">
                        <span class="messages"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Status: </label>
                        <div class="checkbox mt-3">
                            <input asp-for="Status" type="checkbox" class="check_switch" data-size="small">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>  Ətraflı: </label>
                        <textarea type="text" class="form-control" asp-for="Description"></textarea>
                        <span class="messages"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary m-b-0 btn-block">
                        Təsdiqlə
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Masking js -->
<script src="~/files/assets/pages/form-masking/inputmask.js"></script>
<script src="~/files/assets/pages/form-masking/jquery.inputmask.js"></script>
<script src="~/files/assets/pages/form-masking/autoNumeric.js"></script>
<script src="~/files/assets/pages/form-masking/form-mask.js"></script>
<!-- ckeditor js -->
<script type="text/javascript" src="~/files/lib/ckeditor/ckeditor.js"></script>

@await Html.PartialAsync("_ValidationScriptsPartial")
<script class="removable">
        $( document ).ready(function() {
    //$('#MacAddress').inputmask({mask:""});
                               // ckeditor
                        CKEDITOR.replace('Description');
        });
</script>