@model AppUserProfileDto
@{
    Layout = null;
}
<form asp-action="Profile" method="post" class="is-readonly main-signin-form" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    @*  <div class="row">
    <div class="col-md-2">
    <div class="file-name file upload btn btn-outline-primary btn-round mb-3" style="position: relative;overflow: hidden;">
    Şəkil Yüklə
    <input type="file" name="profile" id="Profile" style="position: absolute;font-size: 50px;opacity: 0;right: 0;top: 0;" />
    </div>
    </div>
    <div class="col-md-5  col-lg-5 col-sm-5">
    <div class="pt-0">
    <img src="~/profile/@Model.Picture" class="pb-2" style="width: 150px; height: 150px;" alt="Default Avatar" />
    </div>
    </div>

    <div class="col-md-5 col-lg-5 col-sm-5">
    <div id="lview" style="display:none!important;">
    <div class="pt-0">
    <img id="logoview" src="" class="pb-2" style="width: 150px; height: 150px;" />
    </div>
    </div>

    </div>



    </div>*@

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group is-disabled">
                <label class="floatLabel">  Ad: </label>
                <input type="text" class="form-control" asp-for="Name" disabled autocomplete="off">
                <span asp-validation-for="Name" class="text-danger"></span>
                <span class="messages"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group is-disabled">
                <label class="floatLabel">  Soyad: </label>
                <input type="text" class="form-control" asp-for="Surname" disabled autocomplete="off">
                <span asp-validation-for="Surname" class="text-danger"></span>
                <span class="messages"></span>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group ">
                <label class="floatLabel">  Email: </label>
                <input type="email" class="form-control is-disabled" asp-for="Email" autocomplete="off">
                <span asp-validation-for="Email" class="text-danger"></span>
                <span class="messages"></span>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group is-disabled">
                <label class="floatLabel">  Şirkət: </label>
                <input type="text" class="form-control" asp-for="Company.Name" disabled autocomplete="off">
                <span class="messages"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="floatLabel">  Ünvan: </label>
                <input type="text" class="form-control" asp-for="Address" placeholder="Yaşadığı ünvan" autocomplete="off">
                <span class="messages"></span>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group ">
                <label class="floatLabel">  Korporativ nömrə: </label>
                <input type="text" class="form-control" asp-for="PhoneNumber" autocomplete="off">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                <span class="messages"></span>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group ">
                <label class="floatLabel">  Şəxsi nömrə: </label>
                <input type="text" class="form-control" asp-for="PersonalPhoneNumber" autocomplete="off">
                <span asp-validation-for="PersonalPhoneNumber" class="text-danger"></span>
                <span class="messages"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group ">
                <label class="floatLabel">  Ev nömrə: </label>
                <input type="text" class="form-control" asp-for="HomePhoneNumber" autocomplete="off">
                <span asp-validation-for="HomePhoneNumber" class="text-danger"></span>
                <span class="messages"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group is-disabled">
                <label class="floatLabel">  Şöbə: </label>
                <input type="text" class="form-control" asp-for="Department.Name" disabled autocomplete="off">
                <span class="messages"></span>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group is-disabled">
                <label class="floatLabel">  Vəzifə: </label>
                <input type="text" class="form-control" asp-for="Position.Name" disabled autocomplete="off">
                <span class="messages"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="floatLabel">  Doğum tarixi: </label>
                <input type="date" class="form-control" asp-for="Birthday" disabled autocomplete="off">
                <span class="messages"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group is-disabled">
                <label class="floatLabel">  Sosial Sığorta nömrəsi: </label>
                <input type="text" class="form-control" asp-for="SsnCode" disabled autocomplete="off">
                <span class="messages"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group is-disabled">
                <label class="floatLabel"> Əsas məzuniyyət günləri hüququ:</label>
            </div>       
        </div>        
        <div class="col-sm-6">
            <div class="form-group is-disabled">
                <label class="floatLabel">@Model.VacationMainDay gün</label>
            </div>       
        </div>
        <div class="col-sm-12 mb-2">
            <hr style="color: #e7e7e7;line-height: 1px;background-color: #e7e7e7;margin-top: -6px;margin-bottom: 20px;" />
        </div>

        @if (Model.UserVacationRemains.Count > 0)
        {
            @foreach (var item in Model.UserVacationRemains.Where(v => !v.IsDeleted).OrderBy(x => x.FromDate).ToList())
            {
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel"> Tarix: </label>

                        <div class="input-group input-daterange mb-0">
                            <input disabled type="text" maxlength=10 asp-for="@item.FromDate">
                            :
                            <input disabled type="text" maxlength=10 asp-for="@item.ToDate">
                        </div>
                        <span class="messages"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group  is-disabled">
                        <label class="floatLabel">  Qalıq gün: </label>
                        <input disabled type="text" class="form-control remain-count-number" asp-for="@item.RemainCount">

                        <span class="messages"></span>
                    </div>
                </div>
            }
            @for (var i = 0; i < Model.UserVacationRemains.Count; i++)
            {

            }
        }
        @if (Model.UserContractFiles.Count > 0)
        {
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="">  Müqavilə: </label>
                    <div class="card">

                        <ul class="basic-list list-icons">
                            @foreach (var item in Model.UserContractFiles)
                            {
                                <li class="mt-1 ml-3">
                                    <i class="fa-solid fa-file-arrow-down text-primary" style="font-size: 22px;">
                                        <a href="~/userContractDocs/@item.FilePath" download
                                   style="padding-left: 16px;">

                                            @item.CreatedDate.Value.ToString("yyyy-MM-dd-mm-ss")
                                        </a>
                                    </i>
                                </li>
                            }

                        </ul>

                    </div>
                </div>
            </div>
        }

    </div>

    <div class="form-group row">
        <div class="col-sm-12 d-flex justify-content-between">
            <button type="submit" id="confirm-id" class="btn btn-dark-blue m-b-0 btn-block">
                Təsdiq
            </button>

        </div>
    </div>

</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


