@model CategoryTicketAddDto

@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/files/lib/jquery-easyui-1.10.4/themes/bootstrap/easyui.css">

<div class="row">
    <div class="col-lg-12 col-xl-12">
        <form asp-action="Add" class="main-signin-form" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">Ad: </label>
                        <input type="text" class="form-control" asp-for="Name" autocomplete="off">
                        <span asp-validation-for="Name" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="floatLabel">   Üst Kateqoriya: </label>
                    <div style="margin-bottom:20px">
                        <input type="text" class="form-control" asp-for="ParentId" name="ParentId" style="width:100%">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel"> Ticket Növü: </label>

                        <select name="select" asp-for="TicketType" name="TicketType" class="form-control">
                            <option value="" selected hidden>Seçim edin</option>
                            @foreach (TicketType type in @Enum.GetValues(typeof(TicketType)))
                            {
                                <option value="@type">@type.GetDisplayName()</option>
                            }

                        </select>
                        <span asp-validation-for="TicketType" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel"> Dəstək:</label>

                        <select name="select" asp-for="SupporterId" name="SupporterId" class="form-control">
                            <option value="" selected hidden>Seçim edin</option>
                            @foreach (AppUserDetailsDto item in ViewBag.supporters)
                            {
                                <option value="@item.Id">@item.FullName | @item.Company | @item.Department | @item.Position</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary m-b-0 btn-block">
                        Təsdiqlə
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- cust-validation js -->
<script src="~/files/lib/cust_ajax/cust-validation.js"></script>
<script type="text/javascript" src="~/files/lib/jquery-easyui-1.10.4/jquery.easyui.min.js"></script>

@await Html.PartialAsync("_ValidationScriptsPartial")

<script class="removable" type="text/javascript">
    $(document).ready(function ($) {

        $.ajax({
            url: `@Url.Action("GetCategoryTicketTree","CategoryTicket")`,
            type: "Get",
            data: "",
            dataType: "json",
            cache: false,
            success: function (data) {
                $('#ParentId').combotree({
                    data:data,
                    prompt:'Seçim edin',
                    onBeforeSelect:function(node){
                            console.log(node.children.length);
                        if(node.parentId==null && node.children.length > 0){
                        node.target.off("click")
                        }
                    }
                });
            },
            error: function (data) {
            }
        });
        $("form").submit(function (e){
            var val = $('#ParentId')
               .combotree('getValue');
            $('#ParentId').val($('[name="ParentId"]').val());
        });
    });
</script>