@model TicketAddDto
@{
    Layout = null;
}


<head>
    <!-- Select 2 css -->
    <link rel="stylesheet" href="~/files/bower_components2/select2/dist/css/select2.min.css" />
    <!-- Multi Select css -->
    <link rel="stylesheet" type="text/css"
          href="~/files/bower_components2/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" type="text/css" href="~/files/bower_components2/multiselect/css/multi-select.css" />
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/files/assets/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/files/assets/css/uploadPrevView.css" />
    <!-- img-upload -->
    <link rel="stylesheet" type="text/css" href="~/files/lib/ticket-img-uploader/ticket-img-uploader.css" />
    <!-- Date-range picker css  -->
    <link rel="stylesheet" type="text/css"
          href="~/files/bower_components2/bootstrap-daterangepicker/daterangepicker.css" />
</head>
<style>
    .pt-3-half {
        padding-top: 1.4rem;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-xl-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs  md-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab"
                   href="#home1" role="tab">
                    <i class="icofont icofont-home"></i> &nbsp; Məlumatlar
                </a>
                <div class="slide"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#profile1" role="tab">
                    <i class="icofont icofont-pen-alt-4"></i>&nbsp; Ətraflı
                </a>
                <div class="slide"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#desc" role="tab">
                    <i class="icofont icofont-files"></i>&nbsp; Fayllar
                </a>
                <div class="slide"></div>
            </li>

            <li id="PurcId" class="nav-item d-none">
                <a class="nav-link" data-toggle="tab" href="#order" role="tab">
                    <i class="icofont icofont-table"></i>&nbsp; Sifariş
                </a>
                <div class="slide"></div>
            </li>

        </ul>
        <!-- Tab panes -->
        <form asp-action="Add" class="main-signin-form" enctype="multipart/form-data">
            <div class="tab-content tabs">
                <div class="tab-pane active" id="home1" role="tabpanel">
                    <div class="row">
                        <input hidden class="form-control" asp-for="OrderIds" autocomplete="off">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Başlıq: </label>
                                <input type="text" class="form-control" asp-for="Title" autocomplete="off">
                                <span asp-validation-for="Title" class="text-danger"></span>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Kateqoriya: </label>
                                <select asp-for="CategoryTicketId" name="CategoryTicketId" class="form-control">
                                    <option value="" hidden disabled selected>Seçim edin</option>
                                    @foreach (var item in ViewBag.categories)
                                    {
                                        <option data-type="@item.TicketType" value="@item.Id">@item.Name</option>
                                    }

                                </select>
                                <span asp-validation-for="CategoryTicketId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Yoxlama Siyahı: </label>
                                <select name="select" asp-for="CheckListId" name="CheckListId" data-placeholder="    Seçim edin" class="form-control js-example-basic-single col-sm-12"
                                        multiple="multiple">
                                    @foreach (var item in ViewBag.cheklist)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }

                                </select>
                                <span asp-validation-for="CheckListId" class="text-danger"></span>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Nəzarətçilər: </label>
                                <select name="select" asp-for="AppUserWatcherId" name="AppUserWatcherId" data-placeholder="    Seçim edin" class="form-control js-example-basic-single col-sm-12"
                                        multiple="multiple">
                                    @foreach (AppUserDetailsDto item in ViewBag.users)
                                    {
                                        <option value="@item.Id">@item.FullName | @item.Company | @item.Department | @item.Position</option>
                                    }

                                </select>
                                <span asp-validation-for="AppUserWatcherId" class="text-danger"></span>
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="floatLabel">  Bitmə Tarixi: </label>
                            <div class="form-group">
                                <input type="text" asp-for="DeadLine" class="form-control" value="" />
                                @*<input asp-for="DeadLineEnd" type="date" class="form-control">*@
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Prioritet: </label>
                                <select name="select" asp-for="PriorityType" name="PriorityType" class="form-control">
                                    @foreach (PriorityType type in @Enum.GetValues(typeof(PriorityType)))
                                    {
                                        <option value="@type">@type.GetDisplayName()</option>
                                    }

                                </select>
                                <span asp-validation-for="PriorityType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="floatLabel">  Ticket Təsdiq Sorğusu: </label>
                                <div class="form-radio mt-2 ml-5">

                                    <div class="radio radio-inline">
                                        <label for="True">
                                            <input type="radio" id="True" value="True" asp-for="Confirmed">
                                            <i class="helper"></i>Bəli
                                        </label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <label for="False">
                                            <input type="radio" id="False" value="False" asp-for="Confirmed"
                                                   checked="checked">
                                            <i class="helper"></i>Xeyr
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="ConfirmedId" class="col-sm-6 d-none">
                            <div class="form-group">
                                <label class="floatLabel">  Təsdiq edənlər: </label>
                                <select name="select" asp-for="ConfirmTicketUserId" name="ConfirmTicketUserId" data-placeholder="    Seçim edin" class="form-control js-example-basic-single col-sm-12"
                                        multiple="multiple">
                                    @foreach (AppUserDetailsDto item in ViewBag.users)
                                    {
                                        <option value="@item.Id">@item.FullName | @item.Company | @item.Department | @item.Position</option>
                                    }

                                </select>
                                <span asp-validation-for="ConfirmTicketUserId" class="text-danger"></span>
                                <span class="text-danger"></span>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="tab-pane" id="profile1" role="tabpanel">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <span asp-validation-for="Description" class="text-danger"></span>
                                <label>  Təsvir: </label>
                                <textarea type="text" class="editable1 form-control" asp-for="Description"></textarea>
                                <span class="messages"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="desc" role="tabpanel">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="page-body">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="panel panel-primary">

                                                <div class="panel-heading">
                                                    <h3 class="">Fayl Yüklə</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-sm-2">
                                                            <div class="form-group">
                                                                <button type="button" class="btn btn-primary m-b-0 btn-block" id="custom-button">Faylları Seçin</button>
                                                                <input hidden="hidden" type="file" name="uploads" id="files" multiple class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <div class="form-group">
                                                                <div id="image_preview" class="row" @*style="width:100%;"*@>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="order" role="tabpanel">
                    <div id="table" class="overflow-hidden" style="width: 104.6%;position: relative;right: 31px;">

                        <table id="purchasing" class="table table-bordered table-responsive-md table-striped text-center">
                            <thead>
                                <tr>
                                    <th class="text-center">Məhsul </th>
                                    <th class="text-center">Ö/V</th>
                                    <th class="text-center">Say </th>
                                    <th class="text-center">Vahid qiymət <br /> (ƏDV xaric)</th>
                                    <th class="text-center">Cəmi<br />(vergi xaric) </th>
                                    <th class="text-center">Vergi <br />növü</th>
                                    <th class="text-center">Yekun<br /> (V/D)</th>
                                    <th class="text-center">Satıcı </th>
                                    <th class="text-center">Qeydlər</th>
                                    <th class="text-center">
                                        <span class="table-add float-right mb-3 mr-2">
                                            <a href="#!" class="text-success"><i style="position: absolute;right: 78px;top: 23px;" class="fas fa-plus fa-2x" aria-hidden="true"></i></a>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="generated">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="8"></th>
                                    <th>Ümumi məbləğ: </th>
                                    <th class="disable"><input asp-for="GrandTotal"/></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 d-flex justify-content-between">
                        <button type="submit" id="confirm-id" class="btn btn-primary m-b-0 btn-block">
                            Təsdiqlə
                        </button>

                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

@await Html.PartialAsync("_ValidationScriptsPartial")

<!-- Select 2 js -->
<script type="text/javascript" src="~/files/bower_components2/select2/dist/js/select2.full.min.js">

</script>
<!-- Multiselect js -->
<script type="text/javascript" src="~/files/bower_components2/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="~/files/bower_components2/multiselect/js/jquery.multi-select.js"></script>
<script type="text/javascript" src="~/files/assets/js/jquery.quicksearch.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="~/files/assets/pages/advance-elements/select2-custom.js"></script>
<!-- ckeditor js -->
<script type="text/javascript" src="~/files/lib/ckeditor/ckeditor.js"></script>
<!-- cust-validation image extensions js -->
<script src="~/files/lib/cust_ajax/cust-validation.js"></script>
<!-- Mask js -->
<script type="text/javascript" src="~/files/lib/jquery.maskedinput/jquery.maskedinput.min.js"></script>
<!-- ticket img upload js -->
<script type="text/javascript" src="~/files/lib/ticket-img-uploader/ticket-img-uploader.js"></script>
<!-- Date-range picker js -->
<script type="text/javascript"
        src="~/files/bower_components2/bootstrap-daterangepicker/daterangepicker.js"></script>
<script class="removable">
    $.validator.setDefaults({ ignore:''});
    $(document).ready(function() {
                       // ckeditor
                        CKEDITOR.replace('Description');
                        const $tableID = $('#table');
                        const $BTN = $('#export-btn');
                        const $EXPORT = $('#export');
            const newTr = `<tr class="editTable" value-id="" >
            <td><textarea style="width: 110px;" name="Product" id="Product"></textarea> </td>
            <td><textarea style="width: 110px;" name="Currency" id="Currency"></textarea> </td>
            <td><textarea style="width: 110px;" name="Quantity" id="Quantity"></textarea> </td>
            <td><textarea style="width: 110px;" name="WithoutVat" id="WithoutVat"></textarea> </td>
            <td><textarea style="width: 110px;" name="TotalWithoutTax" id="TotalWithoutTax"></textarea> </td>
            <td><textarea style="width: 110px;" name="TaxType" id="TaxType"></textarea> </td>
            <td><textarea style="width: 110px;" name="Total" id="Total" (oninput)="validateValue(event)">0</textarea> </td>
            <td><textarea style="width: 110px;" name="Seller" id="Seller"></textarea> </td>
            <td><textarea style="width: 110px;" name="Description" id="Description"></textarea> </td>
                 <td>
                   <span style="width: 30px; height: 30px; line-height: inherit;" class="table-remove btn btn-inverse btn-outline-danger btn-icon"><i class="fa fa-times" style="margin-right:1px;" aria-hidden="true"></i></span>
                 </td>
               </tr>`;

               $('.table-add').on('click', 'i', () => {
                     $('#generated').append(newTr);
               });

               $tableID.on('click', '.table-remove', function () {
                   var id = $(this).parent().parent().attr('value-id');
                      $(this).parents('tr').detach();
                  $.ajax({
                    type: 'get',
                    url: '@Url.ActionLink("Delete","Order")',
                    datatype: 'json',
                    data: {
                      id: id
                    },
                    success: function (response) {
                    if (response.error == true) {
                        toastr.error(response.message, "Xəta baş verdi!");
                        return;
                    }
                      toastr.success(response.message, "Uğurla Silindi!");
                    },
                    error: function (response) {
                        toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                    }
                });
               });
               $tableID.on('click', '.table-up', function () { const $row = $(this).parents('tr'); if
               ($row.index() === 0) { return; } $row.prev().before($row.get(0)); }); $tableID.on('click',
               '.table-down', function () { const $row = $(this).parents('tr');
               $row.next().after($row.get(0)); });
               jQuery.fn.pop= [].pop;
               jQuery.fn.shift = [].shift;
               $BTN.on('click', () =>
               {
                   const $rows = $tableID.find('tr:not(:hidden)');
                   const headers = [];
                   const data = [];
               $($rows.shift()).find('th:not(:empty)').each(function () {
               headers.push($(this).text().toLowerCase()); });
               $rows.each(function () { const $td = $(this).find('td'); const h = {};
               headers.forEach((header, i) => { h[header] = $td.eq(i).text(); }); data.push(h); });
              $EXPORT.text(JSON.stringify(data));
               });
               (function ($) {
            $.fn.getFormData = function (addProperties) {
                let tempt = this;
                var data = {};
                $(tempt).find('textarea[name]').each(function (index, item) {
                    data[item.name] = item.value;
                })
                data = $.extend(data, addProperties);
                return data;
            }
        })(jQuery);

        //delete all orders if not send to ticket

        $(window).on('click', function(e){
                if($(e.target).attr('id') == 'form-modal'
                || $(e.target).attr('id') =='closeBtn'
                || $(e.target).attr('id') =='closeBtnX'){
                    var Ids = new Array();
                    $(".editTable").each(function(){

                       var id= $(this).attr('value-id');
                        Ids.push(id);
                    });
                    $.ajax({
                       type: 'get',
                       url: '@Url.ActionLink("AllDelete","Order")',
                       datatype: 'json',
                       traditional: true,
                       data:({Ids:Ids}),
                       success: function (response) {
                       if (response.error == true) {
                           toastr.error(response.message, "Xəta baş verdi!");
                           location.reload();
                           return;
                       }
                       },
                       error: function (response) {
                           toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                       }
                   });
          }
        });
        //add all orders to send
        $(document).on("change",".editTable",function(e){
          var  $this  = $(this);

          if($this.attr('value-id') === ""){
               let data =  $this.getFormData();
               let count = 0;
               for (let i = 0; i < Object.values(data).length; i++) {
                   if(Object.values(data)[i]===''){
                            count++
                   }
               }
               if(count < 9){
                   $('.table-add').css("pointer-events", "auto");
                  $.ajax({
                    type: 'get',
                    url: '@Url.ActionLink("Add","Order")',
                    datatype: 'json',
                    data: data,
                    success: function (response) {
                    if (response.error == true) {
                        toastr.error(response.message, "Xəta baş verdi!");
                        return;
                    }
                      toastr.success(response.message, "Uğurla Yükləndi!");
                      $this.attr('value-id',response);
                    },
                    error: function (response) {
                        toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                    }
                });
               }else{
                    toastr.error("Xanalar boş ola bilməz", "Xəta!");
                     $('.table-add').css("pointer-events", "none");
               }
          }
          else
          {
               let id = $this.attr('value-id')
               let data =  $this.getFormData({
                    Id: id
               });

               let count = 0;
               for (let i = 0; i < Object.values(data).length; i++) {
                   if(Object.values(data)[i]===''){
                            count++
                   }
               }
               if(count < 9){
                   $('.table-add').css("pointer-events", "auto");
                  $.ajax({
                    type: 'get',
                    url: '@Url.ActionLink("Update","Order")',
                    datatype: 'json',
                    data: data,
                    success: function (response) {
                    if (response.error == true) {
                        toastr.error(response.message, "Xəta baş verdi!");
                        return;
                    }
                      //toastr.success(response.message, "Uğurla Yükləndi!");
                      //$this.attr('value-id',response);
                    },
                    error: function (response) {
                        toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                    }
                });
               }else{
                    toastr.error("Xanalar boş ola bilməz", "Xəta!");
                    $('.table-add').css("pointer-events", "none");
               }
          }

        });
        //orders to send to ticket
        $(document).on("click","#confirm-id",function(e){
            var Ids = new Array();
            $(".editTable").each(function(){
               var id= $(this).attr('value-id');
                Ids.push(id);
            });
             $("#OrderIds").val(JSON.stringify(Ids));

        });
        //daterangepicker
        $('input[name="DeadLine"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });
        $('input[name="DeadLine"]').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + '-' + picker.endDate.format('DD/MM/YYYY'));
        });

        $('input[name="DeadLine"]').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });

         //ticket confirm

        $("#True").on("change",function(){
              $("#ConfirmedId").removeClass( 'd-none');
              $("#ConfirmTicketUserId").prop( "disabled" , false);
        });
        $("#False").on("change",function(){
              $("#ConfirmedId").addClass( 'd-none');
              $("#ConfirmTicketUserId").prop( "disabled" , true);
        });
        //Category and validation of ckeditor

        $(document).on("change","#CategoryId",function(){
           var type = $(this).find(':selected').data('type');
           var $this =$(this).parents("form")
          
            if(type =="Purchasing"){
              $("#PurcId").removeClass( 'd-none');
            }
            else{
              $this.on("submit",function(e){
              var Description = CKEDITOR.instances['Description'].getData().replace(/<[^>]*>/gi, '').length;
              if( !(Description)) {
                   toastr.error("  Zəhmət olmasa Ətraflı tabına keçid edin", "Təsvir boş ola bilməz !");
               e.preventDefault();
               }
              });
               $("#PurcId").addClass( 'd-none');
               $("#generated").empty();
               var Ids = new Array();
               $(".editTable").each(function(){
                  var id= $(this).attr('value-id');
                   Ids.push(id);
               });
               $.ajax({
                  type: 'get',
                  url: '@Url.ActionLink("AllDelete","Order")',
                  datatype: 'json',
                  traditional: true,
                  data:({Ids:Ids}),
                  success: function (response) {
                  if (response.error == true) {
                      toastr.error(response.message, "Xəta baş verdi!");
                      location.reload();
                      return;
                  }
                  },
                  error: function (response) {
                      toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                  }
              });
            }
        });

        // Total price

        $(document).on("mouseover","#generated",function(){  
        var r = 0;
        
        $("textarea[name='Total']").each(function( index ) {
            

             if(parseFloat($(this).val()) === NaN){
             r+= 0;
             }
             else{
             r+= parseFloat($(this).val());
             }
          });
            $("#GrandTotal").val(parseFloat(r).toFixed(2));
        });

        function validateValue(event){
                const elem = event.target;
                const value = elem.value;
                const numVal = value.replace(/\D/,"");
                elem.value = numVal;
            }

            //$("#CategoryTicketId").select2({
            //    minimumResultsForSearch: -1,
            //    placeholder: "Seçim edin",
            //    ajax: {
            //    url: `@Url.Action("GetCategoryTicketTree","CategoryTicket")`,
            //    type: "Get",
            //    data: "",
            //    dataType: "json",
            //    cache: true,
            //    delay: 250,
            //    contentType: "application/json; charset=utf-8",
            //    processResults: function (data) {
            //        return {
            //            results: $.map(data, function (val, item) {
            //                return {
            //                    text: val.text ,
            //                    children :getTree(val.children,val,item)
            //                };
            //            }),
            //        };
            //    }
            //    },
            //});

            //function getTree(data,val, item){
            //    $.map(data, function (v, item){
            //      return {
            //          id:v.id,
            //          text:v.text
            //         }
            //      })
            //    if(data.length > 0){
            //        getTree(data,val, item)
            //    }
            //   }      
    });
</script>