@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@model VacationContractAddDto

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Add" class="main-signin-form" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Şirkət: </label>
                        <select id="CompanyId" class="form-control">
                            <option value="" disabled selected hidden>Seçim edin</option>
                            @foreach (var item in ViewBag.companies)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Əməkdaşlar: </label>
                        <select disabled asp-for="UserId" class="form-control">
                            <option value="" disabled selected hidden>Seçim edin</option>
                        </select>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                </div>
                <div>
                </div>
                <div class="col-sm-6">
                    <label class="floatLabel"> Məzuniyyət növü: </label>
                    <select asp-for="VacationTypeId" class="form-control">
                        <option value="" disabled selected hidden>Seçim edin</option>
                        @foreach (var item in ViewBag.vacationTypes)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="VacationTypeId" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Sənəd nömrəsi: </label>
                        <input type="text" class="form-control" asp-for="CommandNumber" autocomplete="off">
                        <span asp-validation-for="CommandNumber" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="floatLabel"> Sənəd tarixi: </label>
                    <div class="form-group">
                        <input asp-for="CommandDate" type="date" class="form-control" id="inputDate">
                        <span asp-validation-for="CommandDate" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Əmrin əsası: </label>
                       <textarea class="form-control" asp-for="Description" autocomplete="off"></textarea>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-6">
                    <label class="floatLabel"> Məz. başlama tarixi: </label>
                    <div class="form-group">
                        <input asp-for="FromDate" type="date" class="form-control" id="FromDate">
                        <span asp-validation-for="FromDate" class="text-danger"></span>
                        <span class="messages"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="floatLabel">  Məz. bitmə tarixi: </label>
                        <div class="form-group">
                            <input asp-for="ToDate" type="date" class="form-control" id="ToDate">
                            <span asp-validation-for="ToDate" class="text-danger"></span>
                            <span class="messages"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="floatLabel"> Təqvim günü: </label>
                    <div class="form-group">
                      <input asp-for="CalendarDay" type="number" readonly class="form-control disabled_custom" value="0">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="labor_vacation" class="form-group">
                        <label class="floatLabel">  Qalıq başlama tarixi: </label>
                        <div class="form-group">
                           
                            <input readonly asp-for="FromWorkYearDate" type="date" class="form-control disabled_custom" >
                           
                        </div>
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="col-sm-6">
                    <div id="labor_vacation_2" class="form-group">
                        <label class="floatLabel">  Qalıq bitmə tarixi: </label>
                        <div class="form-group">
                          
                            <input asp-for="ToWorkYearDate" type="date" readonly class="form-control disabled_custom">
                           
                        </div>
                    </div>
                </div>
                </div>


                <div class="form-group row mt-3">
                    <div class="col-sm-12 d-flex justify-content-between">
                        <button type="submit" id="sub-btn" class="btn btn-primary m-b-0  btn-block">
                            Təsdiqlə
                        </button>

                    </div>
                </div>
</form>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")

<script>

    $(document).ready(function () {

        $("#labor_vacation").css('display', "none");
        $("#labor_vacation_2").css('display', "none");

        $('.input-daterange input').each(function () {
            $(this).datepicker({
                format: "mm.yyyy"
            });
        });

        $("form").submit( function(e) {

        });

        $('#FromDate').change(function () {
            var date = $(this).val();
            var _id = $("#VacationTypeId").val();
            var to_date = $("#ToDate").val();
            if (date != null && date != "" && to_date != null && to_date != "") {
                var diff = new Date(Date.parse(to_date) - Date.parse(date));
                var days = diff / 1000 / 60 / 60 / 24;
                days += 1;

                $("#CalendarDay").val(days.toString());
                getVacType(_id);
            }
        });

        $('#ToDate').change(function () {
            var to_date = $(this).val();
            var _id = $("#VacationTypeId").val();
            var date = $("#FromDate").val();
            if (date != null && date != "" && to_date != null && to_date != "") {
                var diff = new Date(Date.parse(to_date) - Date.parse(date));
                var days = diff / 1000 / 60 / 60 / 24;
                days += 1;
                $("#CalendarDay").val(days.toString());
                getVacType(_id);

            }
        });
    });



    $(document).on('change', '#VacationTypeId', function () {
        var _id = $(this).val();
        getVacType(_id);
    });

    function getVacType(_id) {
         
            $.ajax({
                type: 'Get',
                url: '@Url.ActionLink("GetUserVacationType", "VacationContract")',
                data: {
                    id: _id,
                },
                success: function (response)
                {
                    if (response.error == true)
                    {
                        toastr.error(response.message, "Xəta baş verdi!");
                        return;
                    }

                    if (response == "labor") {
                        $("#labor_vacation").css('display', "block");
                        $("#labor_vacation_2").css('display', "block");

                        var date = $("#FromDate").val();
                        var to_date = $("#ToDate").val();
                        if (date != null && date != "" && to_date != null && to_date != "") {
                            var diff = new Date(Date.parse(to_date) - Date.parse(date));
                            var days = diff / 1000 / 60 / 60 / 24;
                            days += 1;
                            $("#CalendarDay").val(days.toString());
                            getRemainDates(Date.parse(date), Date.parse(to_date))
                        }
                    } else {
                        $("#labor_vacation").css('display', "none");
                        $("#labor_vacation_2").css('display', "none");
                    }

                },
                error: function (response) {
                    $("#overlay").fadeOut(300);
                    toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                }
            });
    }

    function getRemainDates(fromDate, toDate) {
        var usr_id = $("#UserId").val()
        if (usr_id==null) {
            toastr.error("Əməkdaş boş ola bilməz", "Xəta!");
            return;
        }
          $.ajax({
                type: 'Get',
                url: '@Url.ActionLink("GetUserVacationRemainDates", "VacationContract")',
                data: {
                    user_id: parseInt(usr_id),
                    fromDate: fromDate / 1000,
                    toDate: toDate / 1000
                },
                success: function (response)
                {
                    if (response.message!= null)
                    {
                        toastr.error(response.message, "Xəta baş verdi!");
                        $("#CalendarDay").val("0");
                        return;
                    }
                    $("#FromWorkYearDate").val(response.fromDate.toString().split('T')[0]);
                    $("#ToWorkYearDate").val(response.toDate.toString().split('T')[0]);

                },
                error: function (response) {
                    $("#overlay").fadeOut(300);
                    toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                }
           });
    }

    function getPos(_id) {
          $.ajax({
                type: 'Get',
                url: '@Url.ActionLink("GetPositionWithUser", "Account")',
                data: {
                    userId: _id,
                },
                success: function (response)
                {
                    if (response.error == true)
                    {
                        toastr.error(response.message, "Xəta baş verdi!");
                        return;
                    }
                    $("#PositionId").empty();
                    var html = "";

                    for (var i in response) {
                        html += `<option value="${[response[i].id]}">
                        ${[response[i].name]}</option>`
                    }

                    if(response.length>0)
                    {
                        $("#PositionId").prop('disabled', false);
                        $("#PositionId").html(`<option value="" disabled selected hidden>Seçim edin</option>`+ html);
                    }
                    else{
                         $("#PositionId").prop('disabled', false);
                        $("#PositionId").html(`<option value="" disabled selected hidden>Yoxdur!</option>`);
                    }

                },
                error: function (response) {
                    $("#overlay").fadeOut(300);
                    toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
                }
           });
    }

    $(document).on('change','#CompanyId', function(){
        var _id = $(this).val();

        $.ajax({
            type: 'Get',
            url: '@Url.ActionLink("GetCompanyUsers", "Account")',
            data: {
                companyId: _id,
            },
            success: function (response)
            {
                if (response.error == true)
                {
                    toastr.error(response.message, "Xəta baş verdi!");
                    return;
                }
                $("#UserId").empty();
                var html = "";

                for (var i in response) {
                    html += `<option value="${[response[i].id]}">
                    ${[response[i].name]}</option>`
                }

                if(response.length>0)
                {
                    $("#UserId").prop('disabled', false);
                    $("#UserId").html(`<option value="" disabled selected hidden>Seçim edin</option>`+ html);
                }
                else{
                    $("#UserId").prop('disabled', false);
                    $("#UserId").html(`<option value="" disabled selected hidden>Yoxdur!</option>`);
                }

            },
            error: function (response) {
                $("#overlay").fadeOut(300);
                toastr.error("Gözlənilməz xəta baş verdi", "Xəta!");
            }
       });
    });

</script>